{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{%block title %}ThermoBlock | Главная страница{%endblock%}</title>
    <meta name="description" content="{% block meta_descript %}Thermoblock - блоки несъемной бетонной опалубки для монолитной теплой стены."{%endblock%}>
    <meta name="keywords" content="{% block meta_keywords %}Строительные термоблоки, дома из термоблоков, монолитное строительство, контроль в конструкции блока {%endblock%}">
    
    <link rel="shortcut icon" href="{% static '/favicon.ico'%}">
    <link rel="icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
    {% if request.get_full_path == '/' %}
        <link rel="canonical" href="{{ request.build_absolute_uri }}">
    {% else %}
        {# Для страниц с параметрами #}
        <link rel="canonical" href="{{ site_url }}{{ product.get_absolute_url }}">
    {% endif %}

    {% include 'includes/_styles.html' %}
   
    {% include 'includes/_ya_metrika.html' %}
</head>

<body id="ex1">
    {% include 'includes/_header.html' %}
    {% include 'includes/_nav.html' %}
    <main>
        {% block content %}{% endblock content %}
    </main>
    {% include 'includes/_footer.html' %}
    {% include 'includes/_post_scripts.html' %}
</body>

</html>