<section class="persons d-none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="uptitle">Компания в лицах</div>
                <div class="global_title">Команда специалистов!</div>
                <div class="global_subtitle">Квалифицированные специалисты - грамотные консультации!</div>
                <div class="global_line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="item">
                    <img src="https://thermoblock03.ru/assets/components/phpthumbof/cache/IMG_20180327_144624.90a2a4f2ccbe5632201f42f66119e3e91.jpg"
                        class="img-fluid" />
                    <a href="https://api.whatsapp.com/send?phone=79835361052"><i
                            class="fa fa-whatsapp"></i>Связаться по WhatsApp</a>
                    <div class="wrapper">
                        <div class="name">Алдар Жаргалов</div>
                        <div class="description">Менеджер по продажам. Обладает углубленным знанием продуктов
                            компании.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="item">
                    <img src="https://thermoblock03.ru/assets/components/phpthumbof/cache/370x450.0ef8d95558dfa544da46250fbda4817e1.png"
                        class="img-fluid" />
                    <a href="https://api.whatsapp.com/send?phone=79835361052"><i
                            class="fa fa-whatsapp"></i>Связаться по WhatsApp</a>
                    <div class="wrapper">
                        <div class="name">Иван Иванов</div>
                        <div class="description">Еще один менеджер по продажам. Обладает углубленным знанием
                            продуктов компании.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="item">
                    <img src="https://thermoblock03.ru/assets/components/phpthumbof/cache/370x450.0ef8d95558dfa544da46250fbda4817e1.png"
                        class="img-fluid" />
                    <a href="https://api.whatsapp.com/send?phone=79835361052"><i
                            class="fa fa-whatsapp"></i>Связаться по WhatsApp</a>
                    <div class="wrapper">
                        <div class="name">Иван Иванов</div>
                        <div class="description">И еще один менеджер по продажам. Обладает углубленным знанием
                            продуктов компании.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="item">
                    <img src="https://thermoblock03.ru/assets/components/phpthumbof/cache/370x450.0ef8d95558dfa544da46250fbda4817e1.png"
                        class="img-fluid" />
                    <a href="https://api.whatsapp.com/send?phone=79835361052"><i
                            class="fa fa-whatsapp"></i>Связаться по WhatsApp</a>
                    <div class="wrapper">
                        <div class="name">Иван Иванов</div>
                        <div class="description">Работяга. Профессиональный строитель с многолетним опытом
                            строительства по технологии ThermoBlock.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>