{% extends 'home/base.html' %}

{% block title %}
ThermoBlock | о нас
{% endblock %}

{% block meta_description %}
История развития торговой марки ThermoBlock. Наша миссия, цели и задачи.
{% endblock %}

{% block meta_keywords %}
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
    <div class="container">
        <!-- Хлебные крошки -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">О нас</li>
            </ol>
        </nav>
    </div>
    {% include 'about/intro.html' %}
    {% include 'about/achievements.html' %}
{% endblock %}

{% block extra_js %}

{% endblock %}