{% load static %}

<section class="clients">
    <div class="container">
    <h2 class="text-center display-6">Строительство из ThermoBlock</h2>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="title">Индивидуальное строительство</div>
                <img src="{% static 'img/building1.jpg'%}"
                    alt="" class="img-fluid" />
                <div class="text">
                    <p><span>Из <strong>"Thermoblock"</strong> можно реализовать любой проект, даже если проект
                            готовился под другие строительные материалы<br /><br /></span></p>
                    <p class="hideOnMob"><span>ПРЕИМУЩЕСТВА СТРОИТЕЛЬСТВА</span>:</p>
                    <div>
                        <ul>
                            <li>
                                <div style="display: inline !important;">более быстрое строительство, чем из других
                                    материалов;</div>
                                <div style="display: inline !important;"> </div>
                            </li>
                            <li>дом из "Thermoblock" сможет построить даже человек без специальной подготовки;</li>
                            <li>минимум рабочих на стройке, 3-4 человека;</li>
                            <li>легко проводить финишную отделку;</li>
                            <li>минимум затрат на отопление.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="title">Коммерческое строительство </div>
                <img src="{% static 'img/building2.jpg'%}"
                    alt="" class="img-fluid" />
                <div class="text">
                    <p><span><strong>ThermoBlock</strong> подходит для строительства торговых центров, магазинов,
                            ресторанов, многоквартирных жилых домов, гостиниц, СТО, общежитий, складов,
                            производственных помещений. </span></p>
                    <p class="hideOnMob"><span>ПРЕИМУЩЕСТВА СТРОИТЕЛЬСТВА</span>:</p>
                    <ul>
                        <li>короткие сроки строительства;</li>
                        <li>бесперебойная поставка блоков в любых объемах;</li>
                        <li>не нужна тяжелая спецтехника;</li>
                        <li>стены не нужно утеплять и штукатурить;</li>
                        <li>легко проводить финишную отделку;</li>
                        <li>минимум затрат на отопление.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>