
{% load static %}
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center display-6">ThermoBlock - блоки несъемной опалубки для монолитных утепленных стен</h2>
                
                <img src="{% static 'img_about/sclad.jpg' %}" alt="">
                <div class="text">
                    <h3><strong>Компания ООО "Строй Тех"</strong></h3>
                    <ul>
                    <li>с 2006 года занимались производством шлакоблока, на оборудовании собственной
                            разработки.</li>
                    <li>в 2012 году приступили к проектированию и изготовлению собственного станка для производства блоков ThermoBlock</li>
                    <li>к 2015 году освоен выпуск энергоэффективного строительного материала - "Thermoblock".
                            Аналог популярных в скандинавских странах керамзитобетонных блоков с утеплителем, широко известных в Казахстане под маркой "FinnBlock". Так же в России FinnBlock используются для строительства домов премиум класса. 
                    </li>
                    <li>в 2016 году было открыто новое направление - проектирование и строительство зданий и сооружений из
                            "Thermoblock".</li>
                    <ul>
                        <li>доставка "Thermoblock" и сопутствующих материалов собственным транспортом.</li>
                        <li>использование бетононасоса</li>
                        <li>использование систем автоматизации ручного труда на производстве и строительных площадках.</li>
                        <li>использование цифрового контроля за ходом этапов строительства, широкое использование BIM.</li>
                    </ul>
                    <li>с 2017 года являемся постоянными участниками ежегодной выставки "Строй Индустрия".</li>
                    <li>с 2018 года "Thermoblock" представлен в торговых строительных сетях г. Улан-Удэ.</li>
                    <li>в 2025 году расширен ассортимент выпускаемой продукции и добавлено новое направление в технологии строительства - строительство блочных стен из бетонных блоков с утеплителем, но содержащих в себе конструктивные элементы, позволяющих правильно организовывать угловые опоры и проёмы над окнами и дверями.</li> 
                    </ul>
                    <p><strong>ThermoBlock</strong> это не просто блоки, это технология контролируемого возведения монолитных теплых и надежных стен. Наша миссия строить энергоэффективные, надежные, сейсмостойкие и долговечные дома. </p>
                </div>
            </div>
        </div>
    </div>
</section>