{% load static %}
<section id="properties">
    <div class="container">
        <h2 class="text-center display-6">Свойства ThermoBlock</h2>
        <p>
            Основные характеристики материала, подтвержденные испытаниями.
        </p>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="name">Эффективная теплоизоляция</h3>
                <img src="{% static '/blocks_img/temp.png' %}" alt="" class="img-fluid">
                <p class="description">
                    Эффективная теплоизоляция и способность сохранять тепло являются самым главным преимуществом
                        ThermoBlock дома сохраняют тепло зимой и дарят приятную прохладу летом. Благодаря своей
                        массивной конструкции дом потребляет мало энергии и проживание в таком доме очень
                        экономично. Особенностью блока и технология строительства полностью исключают образование
                        мостов холода.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="name">Высокая прочность</h3>
                <img src="{% static '/blocks_img/seism.png' %}" alt="" class="img-fluid">
                <div class="description">
                    <p>ThermoBlock высокопрочный материал. Сооружения из блоков выдерживают сейсмическую нагрузку
                        8-9 баллов. С течением времени такой дом только повышает свои качественные показатели.
                        Надежность, прочность и массивность этих блоков делает их идеальным выбором для
                        строительства дома на века.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="name">Контроль возведения</h3>
                <img src="{% static '/blocks_img/sroki.png' %}"
                    alt="" class="img-fluid">
                <div class="description">
                    <p>Технология строительства продумана до мелочей. Легкая приспособляемость к этапам выполняемых
                        работ. Готовые рядовые и угловые элементы контролируют работу строителей и сокращают
                        общие сроки строительства. В среднем возведение дома в 200м2 занимает 1-2 месяца (с учетом
                        устройства фундамента). Благодаря конструкции блоков, имеющих заливочные полости, монтаж
                        труб и кабелей в стенах, а также установка розеток и других элементов не представляет
                        сложности.</p>
                </div>
            </div>
        </div>
    </div>
</section>
