<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница | ThermoBlock</title>
    <meta
      name="description"
      content="Строительные термоблоки, дома из термоблоков"
    />
    <meta
      name="keywords"
      content="термоблок, теплый дом, энергоэффективный дом"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto:400,700|Oswald:300,400|PT+Sans+Narrow"
      rel="stylesheet"
    />
    <link href="css/header.css" rel="stylesheet" />
    <link href="css/adaptive.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__logo">
        <a href="/">
          <img src="img/logo.png" alt="logo thermoblock" class="header__img" />
        </a>
      </div>
      <div class="header__center">
        <h1 class="header__top">
            <img src="img/logo.png" class="header__top-img"/> <span class="brend">ThermoBlock</span> - термоблоки для энергоэффективных зданий</h1>
        <div class="header__down">
            <div class="header__address">
                <div class="address">
                  <p class="address__title">
                    <i class="fa fa-map-marker icon"></i>
                    Адреса офисов
                  </p>
                  <ul class="address__list">
                    <li class="address__item">
                      <a
                        href="https://2gis.ru/ulanude/firm/70000001040689171"
                        class="address__link"
                        target="_blank"
                        >г. Улан-Удэ, ул. Н.Петрова 70, офис 309, "Бизнес Лайф"</a
                      >
                    </li>
                    <li class="address__item">
                      <a
                        href="https://2gis.ru/ulanude/branches/70000001022197324/firm/70000001043408476/107.697289%2C51.839616?m=107.697289%2C51.839616%2F16"
                        class="address__link"
                        target="_blank"
                        >г. Улан-Удэ, ул. Николая Нищенко 19а</a
                      >
                    </li>
                  </ul>
                </div>
            </div>
            <div class="header__phone">
                <div class="phone">
                  <p class="phone__title">
                    <i class="fa fa-phone icon"></i>
                    Телефоны
                  </p>
                  <ul class="phone__list">
                    <li class="phone__item">
                      <a href="tel: +73012206320" class="phone__link"
                        >+7 (3012) 206320</a
                      >
                    </li>
                    <li class="phone__item">
                      <a href="tel: +73012392848" class="phone__link"
                        >+7 (3012) 392848</a
                      >
                    </li>
                    <li class="phone__item">
                      <a href="tel: +73012392868" class="phone__link"
                        >+7 (3012) 392868</a
                      >
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        
      </div>
      <div class="header__buttons">
        <div class="buttons">
          <button class="feedback-btn">Обратная связь</button>
          <div class="icons">
            <div class="icons__item">
              <a
                href="https://www.instagram.com/thermoblock03/"
                class="icon_white"
                target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
            </div>
            <div class="icons__item">
              <a
                href="https://ok.ru/group/57676644155440"
                class="icon_white"
                target="_blank"
                ><i class="fa fa-odnoklassniki-square"></i
              ></a>
            </div>
            <div class="icons__item">
              <a
                href="https://www.youtube.com/channel/UCu5c3oxdMWvgyRwli_pokkw"
                class="icon_white"
                target="_blank"
                ><i class="fa fa-youtube-square"></i
              ></a>
            </div>
            <div class="icons__item">
              <a
                href="https://vk.com/club116450358"
                class="icon_white"
                target="_blank"
                ><i class="fa fa-vk"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <nav class="main-nav">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link_active" href="/index.html#ex1">Продукция <span class="sr-only">(текущий)</span></a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Приемущества</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Строительство</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Наши дома</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">О нас</a>
            </li>
        </ul>
    </nav>
    <section id="products">
        <h2 class="products__title">Основные виды продукции ThermoBlock</h2>
            <div class="categories">
                <div class="category">
                    <h3 class="categories__title">Серия блоков 400</h3>
                    <p class="category__text">Блоки общей толщиной 400 мм. из них 200 мм бетона как снаружи так и изнутри и 200 мм. утеплителя.</p>
                    <div class="cards">
                        <div class="card">
                            <img src="img_blocks/tb400.png" class="card__img">
                            <div class="card__body">
                                <h4 class="card__title">ТБ400</h4>
                                <p class="card__text">Стеновой (рядный) блок</p>
                                <a href="" class="card__btn">подробнее</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="img_blocks/tbu400.png" class="card__img">
                            <div class="card__body">
                                <h4 class="card__title">ТБУ400</h4>
                                <p class="card__text">Угловой блок</p>
                                <a href="" class="card__btn">подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <h3 class="categories__title">Серия блоков 300</h3>
                    <p class="category__text">Блоки общей толщиной 300 мм. из них 50 мм бетона в виде облицовочной плиты, 100мм бетона внутри и 150 мм. утеплителя.</p>
                    <div class="cards">
                        <div class="card">
                            <img src="img_blocks/tb300.png" class="card__img">
                            <div class="card__body">
                                <h4 class="card__title">ТБ300</h4>
                                <p class="card__text">Стеновой (рядный) блок</p>
                                <a href="" class="card__btn">подробнее</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="img_blocks/tbu300_m.png" class="card__img">
                            <div class="card__body">
                                <h4 class="card__title">ТБУ300</h4>
                                <p class="card__text">Угловой блок</p>
                                <a href="" class="card__btn">подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <h3 class="categories__title">Внутренние перегородки</h3>
                    <p class="category__text">Внутренние перегородки для несущих и не несущих стен</p>
                    <div class="cards">
                        <div class="card">
                            <img src="img_blocks/PB200_m.png" class="card__img">
                            <div class="card__body">
                                <h4 class="card__title">ПБ200</h4>
                                <p class="card__text">Блок для перегородки</p>
                                <a href="" class="card__btn">подробнее</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="img_blocks/pb100_mv2.png" class="card__img">
                            <div class="card__body">
                                <h4 class="card__title">ТБ100</h4>
                                <p class="card__text">Блок для перегородки</p>
                                <a href="" class="card__btn">подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <h3 class="categories__title">Шлакоблок</h3>
                    <p class="category__text">Шлакоблок для пристроев и гаражей</p>
                    <div class="cards">
                        <div class="card">
                            <img src="img_blocks/tb300.png" class="card__img">
                            <div class="card__body">
                                <h4 class="card__title">Ш200</h4>
                                <p class="card__text">Стеновой шлакоблок</p>
                                <a href="" class="card__btn">подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </section>
    <section id="properties">
        <h2 class="properties__title">Свойства и приемущества ThermoBlock</h2>
        <p class="properties__text">Основные характеристики материала, подтвержденные <b>испытаниями</b>.</p>
        <ul class="properties__list">
            <li class="properties__card">
                <h3 class="properties__name">Эффективная теплоизоляция</h3>
                <img src="img_blocks/temp.png"
                    alt="Термоблок - эффективная теплоизоляция" class="properties__img">
                <p class="properties__descr">
                    Эффективная теплоизоляция и способность сохранять тепло являются самым главным преимуществом
                        ThermoBlock дома сохраняют тепло зимой и дарят приятную прохладу летом. Благодаря своей
                        массивной конструкции дом потребляет мало энергии и проживание в таком доме очень
                        экономично. Особенностью блока и технология строительства полностью исключают образование
                        мостов холода.
                </p>
            </li>
            <li class="properties__card">
                <h3 class="properties__name">Высокая прочность</h3>
                <img src="img_blocks/seism.png"
                    alt="Термоблок - высокая сейсмичная устойчивость" class="properties__img">
                <p class="properties__descr">
                    ThermoBlock высокопрочный материал. Сооружения из блоков выдерживают сейсмическую нагрузку
                        8-9 баллов. С течением времени такой дом только повышает свои качественные показатели.
                        Надежность, прочность и массивность этих блоков делает их идеальным выбором для
                        строительства дома на века.
                </p>
            </li>
            <li class="properties__card">
                <h3 class="properties__name">Быстрота и простота возведения</h3>
                <img src="img_blocks/sroki.png"
                    alt="Термоблок - быстрота и простота возведения" class="properties__img">
                <p class="properties__descr">
                    Технология строительства продумана до мелочей. Легкая приспособляемость к этапам выполняемых
                        работ. Готовые рядовые и угловые элементы значительно упрощают работу строителей и сокращают
                        общие сроки строительства. В среднем возведение дома в 200м2 занимает 1-2 месяца (с учетом
                        устройства фундамента). Благодаря конструкции блоков, имеющих заливочные полости, монтаж
                        труб и кабелей в стенах, а также установка розеток и других элементов не представляет
                        сложности.
                </p>
            </li>
        </ul>
    </section>
    <section id="building">
        <div class="col-12">
            <h2 class="global_title only">Строительство из ThermoBlock</h2>
            <div class="global_line"></div>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="title">Индивидуальное строительство</h3>
            <img src="img_building/home_1.jpg"
                alt="Жилой индивидуальный дом из термоблока г. Улан-Удэ ул. Петрова" class="img-fluid" />
            <div class="text">
                <p><span>Из <strong>"Thermoblock"</strong> можно реализовать любой проект, даже если проект
                        готовился под другие строительные материалы<br /><br /></span></p>
                <p class="hideOnMob"><span>ПРЕИМУЩЕСТВА СТРОИТЕЛЬСТВА</span>:</p>
                <div>
                    <ul>
                        <li>более быстрое строительство, чем из других
                                материалов;
                        </li>
                        <li>дом из "Thermoblock" сможет построить даже человек без специальной подготовки;</li>
                        <li>минимум рабочих на стройке, 3-4 человека;</li>
                        <li>легко проводить финишную отделку;</li>
                        <li>минимум затрат на отопление.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="title">Коммерческое строительство </h3>
            <img src="img_building/office_3.jpg"
                alt="Офисное здание из термоблока г. Улан-Удэ" class="img-fluid" />
            <div class="text">
                <p><span><strong>ThermoBlock</strong> подходит для строительства торговых центров, магазинов,
                        ресторанов, многоквартирных жилых домов, гостиниц, СТО, общежитий, складов,
                        производственных помещений. </span></p>
                <p class="hideOnMob"><span>ПРЕИМУЩЕСТВА СТРОИТЕЛЬСТВА</span>:</p>
                <ul>
                    <li>короткие сроки строительства;</li>
                    <li>бесперебойная поставка блоков в любых объемах;</li>
                    <li>не нужна тяжелая спецтехника;</li>
                    <li>стены не нужно утеплять и штукатурить;</li>
                    <li>легко проводить финишную отделку;</li>
                    <li>минимум затрат на отопление.</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="col-12">
            <h3 class="global_title">Построенные дома из "ThermoBlock"</h3>
            <div class="global_subtitle">Построй дом своей мечты</div>
            <div class="global_line"></div>
        </div>
        <div class="col-12">
            <div class="item">
                <a data-fancybox="gallery"
                    data-caption="Lorem Ipsum - это текст-рыба, часто используемый в печати и веб-дизайне. "
                    href="img_building/office_3.jpg"><img
                        src="img_building/office_3.jpg"
                        class="img-fluid"></a>
            </div>
            <div class="item">
                <a data-fancybox="gallery"
                    data-caption="Lorem Ipsum - это текст-рыба, часто используемый в печати и веб-дизайне. "
                    href="img_building//home1_2.jpg"><img
                        src="img_building//home1_2.jpg"
                        class="img-fluid"></a>
            </div>
            <div class="item">
                <a data-fancybox="gallery" data-caption="Lorem Ipsum - это текст-" рыба", часто используемый в
                    печати и веб-дизайне. " href="img_building/home1_1.jpg"><img
                        src="img_building/home1_1.jpg"
                        class="img-fluid"></a>
            </div>
            <div class="item">
                <a data-fancybox="gallery" data-caption="Частный дом из термоблока в с. Бичура" href="img_building/home1_4.jpg"><img
                        src="img_building/home1_4.jpg""
                        class="img-fluid"></a>
            </div>
            <div class="item">
                <a data-fancybox="gallery" data-caption="Частный дом из термоблока в с. Баргузин" href="img_building/home1_5.jpg"><img
                        src="img_building/home1_5.jpg"
                        class="img-fluid"></a>
            </div>
            <div class="item">
                <a data-fancybox="gallery" data-caption="Lorem Ipsum - это текст- рыба, часто используемый в
                    печати и веб-дизайне. " href="img_building/home_1.jpg"><img
                        src="img_building/home_1.jpg"
                        class="img-fluid"></a>
            </div>
            <div class="item">
                <a data-fancybox="gallery" data-caption="Lorem Ipsum - это текст-" рыба", часто используемый в
                    печати и веб-дизайне. " href="img_building/home2_1.jpg"><img
                        src="img_building/home2_1.jpg"
                        class="img-fluid"></a>
            </div>
            <div class="item">
                <a data-fancybox="gallery" data-caption="Lorem Ipsum - это текст- рыба, часто используемый в
                    печати и веб-дизайне. " href="img_building/home2_3.jpg"><img
                        src="img_building/home2_3.jpg"
                        class="img-fluid"></a>
            </div>
            <div class="item">
                <a data-fancybox="gallery" data-caption="Lorem Ipsum - это текст- рыба, часто используемый в
                    печати и веб-дизайне. " href="img_building/office_1.jpg"><img
                        src="img_building/office_1.jpg"
                        class="img-fluid"></a>
            </div>
            <div class="item">
                <a data-fancybox="gallery" data-caption="Lorem Ipsum - это текст- рыба, часто используемый в
                    печати и веб-дизайне. " href="img_building/office_2.jpg"><img
                        src="img_building/office_2.jpg"
                        class="img-fluid"></a>
            </div>

        </div>
        <div class="col-12">
            <div class="btn_wrapper">
                <a href="instrukcziya/index.html" class="btn"></a>
                <div class="btn_text">Инструкция по производству работ из теплоизоляционных блоков ThermoBlock
                </div>
            </div>
        </div>
    </section>
    <section id="about">О производсьве. достижения. партнерам. вакансии</section>
    <footer></footer>
  </body>
</html>
