@media (max-width: 768px) {
    .footer {
        text-align: center;
    }
    
    .footer-brand {
        justify-content: center;
    }
    
    .footer-social {
        justify-content: center;
    }

    .min-h-slider {
        min-height: auto;
        padding: 1rem 0;
    }
    
    .image-container {
        height: 250px;
        margin-top: 2rem;
    }
    
    .carousel-item .row {
        text-align: center;
    }
    
    .display-5 {
        font-size: 2rem !important;
    }

    .btn-sm {
        padding: 0.5rem 1rem;
    }

}

@media (max-width: 992px) {
    .navbar-collapse {
        padding: 1rem 0;
    }

    .social-header {
        margin-bottom: 1rem;
        justify-content: center;
    }

    .btn-primary {
        width: 100%;
    }
    .min-h-slider {
        min-height: 350px;
    }
    
    .image-container {
        height: 300px;
    }
}
    


