{% load static %}

<section class="product" id="ex2">
    <div class="container">
        <h2 class="text-center display-6">Основные виды продукции ThermoBlock</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static 'blocks_img/tb400.png'%}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="name">ThermoBlock ТБ400 - Основа линейки продукции - рядовой блок с теплоизоляцией.
                </div>
                <h3>Размеры и вес:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Длина:</td>
                                <td class="info-b">600мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Ширина:</td>
                                <td class="info-b">400мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Высота:</td>
                                <td class="info-b">200мм</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Вес блока:</td>
                                <td class="info-b">30кг</td>
                            </tr>
                            <tr>
                                <td class="info-a">Блоков в поддоне:</td>
                                <td class="info-b">20шт</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес поддона:</td>
                                <td class="info-b">600кг</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h3>Основные характеристики:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Артикул:</td>
                                <td class="info-b">ТБ400</td>
                            </tr>
                            <tr>
                                <td class="info-a">Термическое сопротивление R, м2*°C/Вт:</td>
                                <td class="info-b">5,45</td>
                            </tr>
                            <tr>
                                <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                <td class="info-b">51Дб</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Расход бетона:</td>
                                <td class="info-b">0,125м3/м2 стены</td>
                            </tr>
                            <tr>
                                <td class="info-a">Расход блоков:</td>
                                <td class="info-b">8,33/1/м2</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес бетонированной стены:</td>
                                <td class="info-b">550кг/м2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static 'blocks_img/tbu400.png'%}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="name">Углы дома являются уязвимыми местом, которое часто промерзает. Угловой блок ТБУ400
                    имеет Г-образный изгиб, который способствует созданию монолитного теплового контура по всему
                    периметру.</div>
                <h3>Размеры и вес:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Длина:</td>
                                <td class="info-b">600мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Ширина:</td>
                                <td class="info-b">400мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Высота:</td>
                                <td class="info-b">200мм</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Вес блока:</td>
                                <td class="info-b">30кг</td>
                            </tr>
                            <tr>
                                <td class="info-a">Блоков в поддоне:</td>
                                <td class="info-b">20шт</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес поддона:</td>
                                <td class="info-b">600кг</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h3>Основные характеристики:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Артикул:</td>
                                <td class="info-b">ТБУ400</td>
                            </tr>
                            <tr>
                                <td class="info-a">Термическое сопротивление R, м2*°C/Вт:</td>
                                <td class="info-b">5,45</td>
                            </tr>
                            <tr>
                                <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                <td class="info-b">51Дб</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Расход бетона:</td>
                                <td class="info-b">0,125м3/м2 стены</td>
                            </tr>
                            <tr>
                                <td class="info-a">Расход блоков:</td>
                                <td class="info-b">8,33/1/м2</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес бетонированной стены:</td>
                                <td class="info-b">550кг/м2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static 'blocks_img/tb300.png'%}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="name">ThermoBlock ТБ300.</div>
                <h3>Размеры и вес:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Длина:</td>
                                <td class="info-b">400мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Ширина:</td>
                                <td class="info-b">300мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Высота:</td>
                                <td class="info-b">200мм</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Вес блока:</td>
                                <td class="info-b">21кг</td>
                            </tr>
                            <tr>
                                <td class="info-a">Блоков в поддоне:</td>
                                <td class="info-b">40шт</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес поддона:</td>
                                <td class="info-b">840кг</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h3>Основные характеристики:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Артикул:</td>
                                <td class="info-b">ТБ300</td>
                            </tr>
                            <tr>
                                <td class="info-a">Термическое сопротивление R, м2*°C/Вт:</td>
                                <td class="info-b">3,945</td>
                            </tr>
                            <tr>
                                <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                <td class="info-b">51Дб</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Расход бетона:</td>
                                <td class="info-b">0,08м3/м2 стены</td>
                            </tr>
                            <tr>
                                <td class="info-a">Расход блоков:</td>
                                <td class="info-b">12,5шт/м2</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес бетонированной стены:</td>
                                <td class="info-b">412,5кг/м2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static 'blocks_img/tbu300.png'%}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="name">Углы дома являются уязвимыми местом, которое часто промерзает. Угловой блок ТБУ300
                    имеет Г-образный изгиб, который способствует созданию монолитного теплового контура по всему
                    периметру.</div>
                <h3>Размеры и вес:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Длина:</td>
                                <td class="info-b">500мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Ширина:</td>
                                <td class="info-b">300мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Высота:</td>
                                <td class="info-b">200мм</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Вес блока:</td>
                                <td class="info-b">21кг</td>
                            </tr>
                            <tr>
                                <td class="info-a">Блоков в поддоне:</td>
                                <td class="info-b">40шт</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес поддона:</td>
                                <td class="info-b">840кг</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h3>Основные характеристики:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Артикул:</td>
                                <td class="info-b">ТБУ300</td>
                            </tr>
                            <tr>
                                <td class="info-a">Термическое сопротивление R, м2*°C/Вт:</td>
                                <td class="info-b">3,945</td>
                            </tr>
                            <tr>
                                <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                <td class="info-b">51Дб</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Расход бетона:</td>
                                <td class="info-b">0,08м3/м2 стены</td>
                            </tr>
                            <tr>
                                <td class="info-a">Расход блоков:</td>
                                <td class="info-b">12,5шт/м2</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес бетонированной стены:</td>
                                <td class="info-b">412,5кг/м2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static 'blocks_img/pb200.png'%}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="name">Для устройства внутренних несущих и не несущих стен представлены перегородочные
                    блоки ПБ200</div>
                <h3>Размеры и вес:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Длина:</td>
                                <td class="info-b">600мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Ширина:</td>
                                <td class="info-b">200мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Высота:</td>
                                <td class="info-b">200мм</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Вес блока:</td>
                                <td class="info-b">24кг</td>
                            </tr>
                            <tr>
                                <td class="info-a">Блоков в поддоне:</td>
                                <td class="info-b">40шт</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес поддона:</td>
                                <td class="info-b">960кг</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h3>Основные характеристики:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Артикул:</td>
                                <td class="info-b">ПБ200</td>
                            </tr>

                            <tr>
                                <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                <td class="info-b">62 дБ</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Расход бетона:</td>
                                <td class="info-b">0,11 л/м²</td>
                            </tr>
                            <tr>
                                <td class="info-a">Расход блоков:</td>
                                <td class="info-b">8,33 шт./м²</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес бетонированной стены:</td>
                                <td class="info-b">450 кг/м²</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{% static 'blocks_img/pb100.png'%}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="name">Для устройства внутренних несущих и не несущих стен представлены перегородочные
                    блоки ПБ100</div>
                <h3>Размеры и вес:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Длина:</td>
                                <td class="info-b">600мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Ширина:</td>
                                <td class="info-b">100мм</td>
                            </tr>
                            <tr>
                                <td class="info-a">Высота:</td>
                                <td class="info-b">200мм</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="padding-control table table-bordered">
                            <tr>
                                <td class="info-a">Вес блока:</td>
                                <td class="info-b">14,5кг</td>
                            </tr>
                            <tr>
                                <td class="info-a">Блоков в поддоне:</td>
                                <td class="info-b"></td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес поддона:</td>
                                <td class="info-b"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <h3>Основные характеристики:</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Артикул:</td>
                                <td class="info-b">ПБ100</td>
                            </tr>

                            <tr>
                                <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                <td class="info-b">38 дБ</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td class="info-a">Расход бетона:</td>
                                <td class="info-b">0.045 л/м2</td>
                            </tr>
                            <tr>
                                <td class="info-a">Расход блоков:</td>
                                <td class="info-b">8.33 шт./м2</td>
                            </tr>
                            <tr>
                                <td class="info-a">Вес бетонированной стены:</td>
                                <td class="info-b">234 кг/м2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 portfolio">
                <div class="btn_wrapper">
                    <a href="{% url 'instruction:list' %}" class="btn"></a>
                    <div>Инструкция по производству работ из теплоизоляционных блоков ThermoBlock</div>
                </div>
            </div>
        </div>
    </div>
</section>