{% load static %}
<style>
    /* Адаптивное видео */
    .ratio-16x9 {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 = 9/16 = 0.5625 */
        height: 0;
        overflow: hidden;
    }

    .ratio-16x9 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .play-button {
        width: 70px;
        height: 70px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }

    .play-button i {
        font-size: 30px;
        color: #dc3545;
        margin-left: 5px;
    }

    .position-relative:hover .play-button {
        transform: scale(1.1);
        background: white;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
    }

    .position-relative:hover .overlay {
        background: rgba(0,0,0,0.5);
    }
</style>
<section class="product" id="productions">
    <div class="container">
        <h2 class="text-center display-4">Основная продукция <strong class="stronglogo"><span class="logotext" aria-label="ТермоБлок"><span class="hotlogo">Thermo</span><span class="collogo">Block</span></span></strong></h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <img src="{% static 'blocks_img/tb400_epur.png'%}" alt="ThermoBlock рядовый ТБ400 эпюр" class="img-fluid">
                <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#videoModal-tb400">
                    <i class="fa fa-play-circle"></i> Смотреть видео
                </button>
            </div>
            <!-- Модальное окно Bootstrap 4 -->
            <div class="modal fade" id="videoModal-tb400" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel-tb400" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel-tb400">Видео ThermoBlock ТБ400</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-0">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="videoIframe-tb400" src="https://vkvideo.ru/video_ext.php?oid=-116450358&id=456239065&hash=02b40dc12c375ead&hd=1&loop=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#videoModal-tb400').on('hidden.bs.modal', function () {
                    // Получаем iframe
                    var iframe = $('#videoIframe-tb400');
                    // Сохраняем src
                    var src = iframe.attr('src');
                    // Очищаем src (останавливает видео)
                    iframe.attr('src', '');
                    // Восстанавливаем src через таймаут
                    setTimeout(function() {
                        iframe.attr('src', src);
                    }, 100);
                });
            </script>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h3>ThermoBlock рядовый ТБ400</h3>
                <p class="name">Блок представляет собой «сэндвич» из двух бетонных оболочек, соединенных через слой эффективного утеплителя в единую конструкцию. Внутри блока предусмотрены сквозные полости для создания несущего железобетонного ядра.</p>
                <p class="name">В отличие от кладочных материалов, здесь блок не является самостоятельной несущей единицей. Он служит высокоточной формой, которая после заливки бетона становится частью монолитной трехслойной конструкции, объединяющей в одном цикле возведение каркаса, утепление и финишную отделку здания.</p>
                <!-- Блок с табами - каждый такой блок имеет уникальный ID -->
                <div class="product-tabs-wrapper" id="product-tb400">
                    <!-- Навигация по табам -->
                    <ul class="nav nav-tabs product-tabs-nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#product-tb400-size-weight" role="tab" aria-selected="true">
                                Размеры и вес
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#product-tb400-specs" role="tab" aria-selected="false">
                                Основные характеристики
                            </a>
                        </li>
                    </ul>
                    
                    <!-- Контент табов -->
                    <div class="tab-content">
                        <!-- Таб "Размеры и вес" -->
                        <div class="tab-pane fade show active" id="product-tb400-size-weight" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered" itemscope itemtype="https://schema.org">
                                        <meta itemprop="name" content="ThermoBlock рядовый ТБ400 габариты">
                                        <tr>
                                            <td class="info-a">Длина:</td>
                                            <td class="info-b">
                                                <span itemprop="value">600</span>&nbsp;<abbr title="миллиметров" itemprop="unitText">мм.</abbr>
                                                <meta itemprop="unitCode" content="MMT">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Ширина:</td>
                                            <td class="info-b">
                                                <span itemprop="value">400</span>&nbsp;<abbr title="миллиметров">мм.</abbr>
                                                <meta itemprop="unitCode" content="MMT">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Высота:</td>
                                            <td class="info-b">
                                                <span itemprop="value">200</span>&nbsp;<abbr title="миллиметров">мм.</abbr></td>
                                                <meta itemprop="unitCode" content="MMT">
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <meta itemprop="name" content="ThermoBlock рядовый ТБ400 общие характеристики">
                                        <tr>
                                            <td class="info-a">Вес блока:</td>
                                            <td class="info-b">
                                                <span itemprop="value">30</span>&nbsp;<abbr title="килограммов" itemprop="unitText">кг.</abbr>
                                                <meta itemprop="unitCode" content="KGM">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Блоков в поддоне:</td>
                                            <td class="info-b">20&nbsp;<abbr title="штук">шт.</abbr></td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес поддона:</td>
                                            <td class="info-b">
                                                <span itemprop="value">600</span>&nbsp;<abbr title="килограммов" itemprop="unitText">кг.</abbr></td>
                                                <meta itemprop="unitCode" content="KGM">
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Таб "Основные характеристики" -->
                        <div class="tab-pane fade" id="product-tb400-specs" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Артикул:</td>
                                            <td class="info-b" itemprop="sku">ТБ400</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Термическое сопротивление, R:</td>
                                            <td class="info-b">
                                                <span aria-hidden="true">5,45 м<sup>2</sup>*°C/Вт</span>
                                                <span class="sr-only">5,45 квадратных метра на градус Цельсия на Ватт</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Звукоизоляция (Rw):</td>
                                            <td class="info-b">
                                                <span aria-hidden="true">51 дБ</span>
                                                <span class="sr-only">51 децибел</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Расход бетона:</td>
                                            <td class="info-b">
                                                <span aria-hidden="true">125 л./м<sup>2</sup></span>
                                                <span class="sr-only">125 литра на квадратный метр стены</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Расход блоков:</td>
                                            <td class="info-b">
                                                <span aria-hidden="true">8,33 шт./м<sup>2</sup></span>
                                                <span class="sr-only">8,33 блока на квадратный метр</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес бетонированной стены:</td>
                                            <td class="info-b">
                                                <span aria-hidden="true">550 кг/м<sup>2</sup></span>
                                                <span class="sr-only">550 килограмм на квадратный метр стены</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <img src="{% static 'blocks_img/tbu400_epur.png'%}" alt="ThermoBlock угловой ТБУ400 эпюр" class="img-fluid">
                <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#videoModal-tbu400">
                    <i class="fa fa-play-circle"></i> Смотреть видео
                </button>
            </div>
            <div class="modal fade" id="videoModal-tbu400" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel-tbг400" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel-tbu400">Видео ThermoBlock ТБУ400</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-0">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="videoIframe-tbu400" src="https://vkvideo.ru/video_ext.php?oid=-116450358&id=456239066&hash=8a7484d5456e564e&autoplay=1&loop=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#videoModal-tbu400').on('hidden.bs.modal', function () {
                    // Получаем iframe
                    var iframe = $('#videoIframe-tbu400');
                    // Сохраняем src
                    var src = iframe.attr('src');
                    // Очищаем src (останавливает видео)
                    iframe.attr('src', '');
                    // Восстанавливаем src через таймаут
                    setTimeout(function() {
                        iframe.attr('src', src);
                    }, 100);
                });
            </script>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h3>ThermoBlock угловой ТБУ400</h3>
                <p class="name">Угловой блок ТБУ400 это Г-образный элемент несъемной опалубки, специально разработанный для устранения «мостиков холода» в самых критических точках здания.</p>
                <p class="name">Слой утеплителя внутри блока ТБУ400 имеет изогнутую конфигурацию, что позволяет создать герметичный тепловой щит по всему периметру монолитного ядра.</p>
                <div class="product-tabs-wrapper" id="product-tbu400">
                    <!-- Навигация по табам -->
                    <ul class="nav nav-tabs product-tabs-nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#product-tbu400-size-weight" role="tab" aria-selected="true">
                                Размеры и вес
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#product-tbu400-specs" role="tab" aria-selected="false">
                                Основные характеристики
                            </a>
                        </li>
                    </ul>
                    
                    <!-- Контент табов -->
                    <div class="tab-content">
                        <!-- Таб "Размеры и вес" -->
                        <div class="tab-pane fade show active" id="product-tbu400-size-weight" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Длина:</td>
                                            <td class="info-b">600 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Ширина:</td>
                                            <td class="info-b">400 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Высота:</td>
                                            <td class="info-b">200 мм.</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Вес блока:</td>
                                            <td class="info-b">30 кг.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Блоков в поддоне:</td>
                                            <td class="info-b">20 шт.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес поддона:</td>
                                            <td class="info-b">600 кг.</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Таб "Основные характеристики" -->
                        <div class="tab-pane fade" id="product-tbu400-specs" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Артикул:</td>
                                            <td class="info-b">ТБУ400</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Термическое сопротивление (R):</td>
                                            <td class="info-b">5,45 м2*°C/Вт</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                            <td class="info-b">51 Дб</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Расход бетона:</td>
                                            <td class="info-b">0,125 м3/м2</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Расход блоков:</td>
                                            <td class="info-b">8,33/м2</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес бетонированной стены:</td>
                                            <td class="info-b">550 кг/м2</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <img src="{% static 'blocks_img/tb301.png'%}" alt="ThermoBlock рядовый ТБ300 эпюр" class="img-fluid">
                <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#videoModal-tb300">
                    <i class="fa fa-play-circle"></i> Смотреть видео
                </button>
            </div>
            <div class="modal fade" id="videoModal-tb300" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel-tb300" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel-tbu400">Видео ThermoBlock ТБ300</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-0">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="videoIframe-tb300" src="https://vkvideo.ru/video_ext.php?oid=-116450358&id=456239067&hash=6c2bd7ba70749374&autoplay=1&loop=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#videoModal-tb300').on('hidden.bs.modal', function () {
                    // Получаем iframe
                    var iframe = $('#videoIframe-tb300');
                    // Сохраняем src
                    var src = iframe.attr('src');
                    // Очищаем src (останавливает видео)
                    iframe.attr('src', '');
                    // Восстанавливаем src через таймаут
                    setTimeout(function() {
                        iframe.attr('src', src);
                    }, 100);
                });
            </script>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h3>ThermoBlock рядовый ТБ300.</h3>
                <p class="name">Это рядовый блок серии 300, предназначен для строительства монолитно-плиточной трехслойной стены толщиной 300 мм. Облегченная система несъемной опалубки, ориентированной на максимальную экономичность при сохранении монолитной прочности.</p>
                <p class="name">Оптимальная соотношение цена качество. Внутренняя полость блока позволяет беспрепятственно установить армирование и залить бетон. Внешний слой представляет собой прочную бетонную плитку (панель), которая жестко интегрирована с утеплителем.</p>
                <div class="product-tabs-wrapper" id="product-tb300">
                    <!-- Навигация по табам -->
                    <ul class="nav nav-tabs product-tabs-nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#product-tb300-size-weight" role="tab" aria-selected="true">
                                Размеры и вес
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#product-tb300-specs" role="tab" aria-selected="false">
                                Основные характеристики
                            </a>
                        </li>
                    </ul>
                    
                    <!-- Контент табов -->
                    <div class="tab-content">
                        <!-- Таб "Размеры и вес" -->
                        <div class="tab-pane fade show active" id="product-tb300-size-weight" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Длина:</td>
                                            <td class="info-b">600 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Ширина:</td>
                                            <td class="info-b">300 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Высота:</td>
                                            <td class="info-b">200 мм.</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Вес блока:</td>
                                            <td class="info-b">28,7 кг.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Блоков в поддоне:</td>
                                            <td class="info-b">30 шт.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес поддона:</td>
                                            <td class="info-b">870 кг.</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Таб "Основные характеристики" -->
                        <div class="tab-pane fade" id="product-tb300-specs" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Артикул:</td>
                                            <td class="info-b">ТБ300</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Термическое сопротивление (R) :</td>
                                            <td class="info-b">3,945 м2*°C/Вт</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                            <td class="info-b">51 Дб</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Расход бетона:</td>
                                            <td class="info-b">0,08 м3/м2</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Расход блоков:</td>
                                            <td class="info-b">12,5 шт./м2</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес бетонированной стены:</td>
                                            <td class="info-b">412,5 кг/м2</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <img src="{% static 'blocks_img/tbu300_epur.png'%}" alt="ThermoBlock угловой ТБУ300 эпюр" class="img-fluid">
                <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#videoModal-tbu300">
                    <i class="fa fa-play-circle"></i> Смотреть видео
                </button>
            </div>
            <div class="modal fade" id="videoModal-tbu300" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel-tbu300" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel-tbu400">Видео ThermoBlock ТБУ300</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-0">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="videoIframe-tbu300" src="https://vkvideo.ru/video_ext.php?oid=-116450358&id=456239068&hash=c6db65c4d6c4b96b&autoplay=1&loop=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#videoModal-tbu300').on('hidden.bs.modal', function () {
                    // Получаем iframe
                    var iframe = $('#videoIframe-tbu300');
                    // Сохраняем src
                    var src = iframe.attr('src');
                    // Очищаем src (останавливает видео)
                    iframe.attr('src', '');
                    // Восстанавливаем src через таймаут
                    setTimeout(function() {
                        iframe.attr('src', src);
                    }, 100);
                });
            </script>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h3>ThermoBlock угловой ТБУ300</h3>
                <p class="name">Угловой элемент серии 300 это специализированный доборный блок несъемной опалубки, созданный для формирования энергоэффективных углов в стенах общей толщиной 300 мм.</p>
                <p class="name">Как и в старшей серии 400, блок имеет U-образную геометрию, что исключает наличие "мостиков холода" в углах здания.</p>
                <div class="product-tabs-wrapper" id="product-tbu300">
                    <!-- Навигация по табам -->
                    <ul class="nav nav-tabs product-tabs-nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#product-tbu300-size-weight" role="tab" aria-selected="true">
                                Размеры и вес
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#product-tbu300-specs" role="tab" aria-selected="false">
                                Основные характеристики
                            </a>
                        </li>
                    </ul>
                    
                    <!-- Контент табов -->
                    <div class="tab-content">
                        <!-- Таб "Размеры и вес" -->
                        <div class="tab-pane fade show active" id="product-tbu300-size-weight" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Длина:</td>
                                            <td class="info-b">500 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Ширина:</td>
                                            <td class="info-b">300 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Высота:</td>
                                            <td class="info-b">200 мм.</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Вес блока:</td>
                                            <td class="info-b">21 кг.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Блоков в поддоне:</td>
                                            <td class="info-b">40 шт.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес поддона:</td>
                                            <td class="info-b">840 кг.</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Таб "Основные характеристики" -->
                        <div class="tab-pane fade" id="product-tbu300-specs" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Артикул:</td>
                                            <td class="info-b">ТБУ300</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Термическое сопротивление (R):</td>
                                            <td class="info-b">3,945 м2*°C/Вт</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                            <td class="info-b">51 Дб</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Расход бетона:</td>
                                            <td class="info-b">0,08 м3/м2</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Расход блоков:</td>
                                            <td class="info-b">12,5 шт./м2</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес бетонированной стены:</td>
                                            <td class="info-b">412,5 кг/м2</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <img src="{% static 'blocks_img/pb200_epur.png'%}" alt="ThermoBlock ПБ200 эпюр" class="img-fluid">
                <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#videoModal-pb200">
                    <i class="fa fa-play-circle"></i> Смотреть видео
                </button>
            </div>
            <div class="modal fade" id="videoModal-pb200" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel-pb200" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel-pb200">Видео ThermoBlock ПБ200</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-0">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="videoIframe-pb200" src="https://vkvideo.ru/video_ext.php?oid=-116450358&id=456239070&hash=da201f64778c317c&autoplay=1&loop=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#videoModal-pb200').on('hidden.bs.modal', function () {
                    // Получаем iframe
                    var iframe = $('#videoIframe-pb200');
                    // Сохраняем src
                    var src = iframe.attr('src');
                    // Очищаем src (останавливает видео)
                    iframe.attr('src', '');
                    // Восстанавливаем src через таймаут
                    setTimeout(function() {
                        iframe.attr('src', src);
                    }, 100);
                });
            </script>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h3>ThermoBlock ПБ200</h3>
                <p class="name">Несущий перегородочный бетонный блок несъемной опалубки толщиной 200 мм — это универсальный конструкционный элемент для создания прочных монолитных перегородок, возведения подпорных стен, подвалов и смотровых ям в гараже. Особенность технологии позволяет предусмотреть прокладку инженерных сетей непосредственно в полости стены перед заливкой бетона.</p>
                <div class="product-tabs-wrapper" id="product-pb200">
                    <!-- Навигация по табам -->
                    <ul class="nav nav-tabs product-tabs-nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#product-pb200-size-weight" role="tab" aria-selected="true">
                                Размеры и вес
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#product-pb200-specs" role="tab" aria-selected="false">
                                Основные характеристики
                            </a>
                        </li>
                    </ul>
                    
                    <!-- Контент табов -->
                    <div class="tab-content">
                        <!-- Таб "Размеры и вес" -->
                        <div class="tab-pane fade show active" id="product-pb200-size-weight" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Длина:</td>
                                            <td class="info-b">600 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Ширина:</td>
                                            <td class="info-b">200 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Высота:</td>
                                            <td class="info-b">200 мм.</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Вес блока:</td>
                                            <td class="info-b">24 кг.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Блоков в поддоне:</td>
                                            <td class="info-b">40 шт.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес поддона:</td>
                                            <td class="info-b">960 кг.</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Таб "Основные характеристики" -->
                        <div class="tab-pane fade" id="product-pb200-specs" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Артикул:</td>
                                            <td class="info-b">ПБ200</td>
                                        </tr>

                                        <tr>
                                            <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                            <td class="info-b">62 дБ</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Расход бетона:</td>
                                            <td class="info-b">11 <abbr title="литров на квадратный метр" aria-label="литров на квадратный метр">л/м<sup>2</sup>
</abbr></td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Расход блоков:</td>
                                            <td class="info-b">8,33 шт./м²</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес бетонированной стены:</td>
                                            <td class="info-b">450 кг/м²</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <img src="{% static 'blocks_img/pb100.png'%}" alt="ThermoBlock ПБ100 эпюр" class="img-fluid">
                <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#videoModal-pb100">
                    <i class="fa fa-play-circle"></i> Смотреть видео
                </button>
            </div>
            <div class="modal fade" id="videoModal-pb100" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel-pb100" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel-pb100">Видео ThermoBlock ПБ100</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-0">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="videoIframe-pb100" src="https://vkvideo.ru/video_ext.php?oid=-116450358&id=456239069&hash=c322584b6bbb65d0&autoplay=1&loop=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $('#videoModal-pb100').on('hidden.bs.modal', function () {
                    // Получаем iframe
                    var iframe = $('#videoIframe-pb100');
                    // Сохраняем src
                    var src = iframe.attr('src');
                    // Очищаем src (останавливает видео)
                    iframe.attr('src', '');
                    // Восстанавливаем src через таймаут
                    setTimeout(function() {
                        iframe.attr('src', src);
                    }, 100);
                });
            </script>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h3>ThermoBlock ПБ100</h3>
                <p class="name">Узкий бетонный блок несъемной опалубки толщиной 100 мм предназначен для возведения тонких монолитных перегородок. Технология позволяет заложить инженерные сети перед армированием и заливкой бетона.</p>
                <div class="product-tabs-wrapper" id="product-pb100">
                    <!-- Навигация по табам -->
                    <ul class="nav nav-tabs product-tabs-nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#product-pb100-size-weight" role="tab" aria-selected="true">
                                Размеры и вес
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#product-pb100-specs" role="tab" aria-selected="false">
                                Основные характеристики
                            </a>
                        </li>
                    </ul>
                    
                    <!-- Контент табов -->
                    <div class="tab-content">
                        <!-- Таб "Размеры и вес" -->
                        <div class="tab-pane fade show active" id="product-pb100-size-weight" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Длина:</td>
                                            <td class="info-b">600 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Ширина:</td>
                                            <td class="info-b">100 мм.</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Высота:</td>
                                            <td class="info-b">200 мм.</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="padding-control table table-bordered">
                                        <tr>
                                            <td class="info-a">Вес блока:</td>
                                            <td class="info-b">14,5кг</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Блоков в поддоне:</td>
                                            <td class="info-b"></td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес поддона:</td>
                                            <td class="info-b"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Таб "Основные характеристики" -->
                        <div class="tab-pane fade" id="product-pb100-specs" role="tabpanel">
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Артикул:</td>
                                            <td class="info-b">ПБ100</td>
                                        </tr>

                                        <tr>
                                            <td class="info-a">Звукоизоляция дБА (Rw):</td>
                                            <td class="info-b">38 дБ</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="info-a">Расход бетона:</td>
                                            <td class="info-b">0.045 м3/м2</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Расход блоков:</td>
                                            <td class="info-b">8.33 шт./м2</td>
                                        </tr>
                                        <tr>
                                            <td class="info-a">Вес бетонированной стены:</td>
                                            <td class="info-b">234 кг./м2</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>