{% load static %}
<section id="properties">
    <div class="container">
        <h2 class="text-center display-4 mt-5">Приемущества <strong class="stronglogo"><strong class="logotext"><span class="hotlogo">Thermo</span><span class="collogo">Block</span></strong><span class="tm-sign">&trade;</span></strong></h2>
        <p class="text-center display-6 mb-5">
            Основные характеристики стены, возведенной из термоблока, подтверждены испытаниями.
        </p>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body d-flex flex-column">
                        <h3 class="name card-title">Эффективная теплоизоляция</h3>
                        <img src="{% static '/blocks_img/temp.png' %}" alt="" class="img-fluid mb-3">
                        <p class="description card-text flex-grow-1">
                            Эффективная теплоизоляция и способность сохранять тепло являются самым главным преимуществом
                            ThermoBlock дома сохраняют тепло зимой и дарят приятную прохладу летом. Благодаря своей
                            массивной конструкции дом потребляет мало энергии и проживание в таком доме очень
                            экономично. Особенностью блока и технология строительства полностью исключают образование
                            мостов холода.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body d-flex flex-column">
                        <h3 class="name card-title">Высокая прочность</h3>
                        <img src="{% static '/blocks_img/seism.png' %}" alt="" class="img-fluid mb-3">
                        <div class="description card-text flex-grow-1">
                            <p>ThermoBlock высокопрочный материал. Сооружения из блоков выдерживают сейсмическую нагрузку
                            8-9 баллов. С течением времени такой дом только повышает свои качественные показатели.
                            Надежность, прочность и массивность этих блоков делает их идеальным выбором для
                            строительства дома на века.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body d-flex flex-column">
                        <h3 class="name card-title">Контроль возведения</h3>
                        <img src="{% static '/blocks_img/sroki.png' %}" alt="" class="img-fluid mb-3">
                        <div class="description card-text flex-grow-1">
                            <p>Технология строительства продумана до мелочей. Легкая приспособляемость к этапам выполняемых
                            работ. Готовые рядовые и угловые элементы контролируют работу строителей и сокращают
                            общие сроки строительства. В среднем возведение дома в 200м2 занимает 1-2 месяца (с учетом
                            устройства фундамента). Благодаря конструкции блоков, имеющих заливочные полости, монтаж
                            труб и кабелей в стенах, а также установка розеток и других элементов не представляет
                            сложности.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>