{% extends "base2.html" %}

{% load static %}

{% block content %}

<section class="instruction">
    <div class="top">
        <h1 class="title">Инструкция по производству работ из теплоизоляционных блоков ТБ400</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <a href="https://thermoblock03.ru/assets/manager/instruction/%D0%BD%D0%B0%D0%B7%D0%B2.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/%D0%BD%D0%B0%D0%B7%D0%B2.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/0.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/0.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/1.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/1.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/2.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/2.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/3.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/3.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/4.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/4.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/6.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/6.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/7.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/7.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/8.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/8.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/8.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/8.png" alt="" class="img-fluid">
                    </a>
                    <a href="https://thermoblock03.ru/assets/manager/instruction/9.png" download>
                        <img src="https://thermoblock03.ru/assets/manager/instruction/9.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
