{% load static%}
<section class="achievements">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="uptitle">Наши достижения</div>
                <div class="global_title">Документы ThermoBlock</div>
                <div class="global_subtitle">Грамоты, благодарности, официальные письма и награды.</div>
                <div class="global_line"></div>
            </div>
            <div class="col-12">
                <div class="achievements_slider">
                    <div class="item">
                        <a data-fancybox="achievements" data-caption="Система добровольной сертификации арталикс"
                            href="{% static 'img_arch/arch1.jpg'%}"><img
                                src="{% static 'img_arch/arch1.jpg'%}"
                                class="img-fluid"></a>
                        <div class="text">Система добровольной сертификации арталикс</div>
                    </div>
                    <div class="item">
                        <a data-fancybox="achievements"
                            data-caption="Золотая медаль выставки. Стройиндустрия - 2018"
                            href="{% static 'img_arch/arch2.jpg'%}"><img
                                src="{% static 'img_arch/arch2.jpg'%}"
                                class="img-fluid"></a>
                        <div class="text">Золотая медаль выставки. Стройиндустрия - 2018</div>
                    </div>
                    <div class="item">
                        <a data-fancybox="achievements" data-caption="Стройиндустрия - 2018"
                            href="{% static 'img_arch/arch3.jpg'%}"><img
                                src="{% static 'img_arch/arch3.jpg'%}"
                                class="img-fluid"></a>
                        <div class="text">Стройиндустрия - 2018</div>
                    </div>
                    <div class="item">
                        <a data-fancybox="achievements" data-caption="Стройка - 2016"
                            href="{% static 'img_arch/arch4.jpg'%}"><img
                                src="{% static 'img_arch/arch4.jpg'%}"
                                class="img-fluid"></a>
                        <div class="text">Стройка - 2016</div>
                    </div>
                    <div class="item">
                        <a data-fancybox="achievements" data-caption="Стройидустрия: наш дом - 2015"
                            href="{% static 'img_arch/arch5.jpg'%}"><img
                                src="{% static 'img_arch/arch5.jpg'%}"
                                class="img-fluid"></a>
                        <div class="text">Стройидустрия: наш дом - 2015</div>
                    </div>
                    <div class="item">
                        <a data-fancybox="achievements" data-caption="Стройиндустрия - 2016"
                            href="{% static 'img_arch/arch6.jpg'%}"><img
                                src="{% static 'img_arch/arch6.jpg'%}"
                                class="img-fluid"></a>
                        <div class="text">Стройиндустрия - 2016</div>
                    </div>
                    <div class="item">
                        <a data-fancybox="achievements" data-caption="Стройка - 2017"
                            href="{% static 'img_arch/arch7.jpg'%}"><img
                                src="{% static 'img_arch/arch7.jpg'%}"
                                class="img-fluid"></a>
                        <div class="text">Стройка - 2017</div>
                    </div>
                    <div class="item">
                        <a data-fancybox="achievements" data-caption="СтройТехМаркет - 2015"
                            href="{% static 'img_arch/arch8.jpg'%}"><img
                                src="{% static 'img_arch/arch8.jpg'%}"
                                class="img-fluid"></a>
                        <div class="text">СтройТехМаркет - 2015</div>
                    </div>
                    <div class="item">
                        <a data-fancybox="achievements" data-caption="БАЙКАЛ ЭКСПО"
                            href="{% static 'img_arch/arch9.jpg'%}"><img
                                src="{% static 'img_arch/arch9.jpg'%}"
                                class="img-fluid"></a>
                        <div class="text">БАЙКАЛ ЭКСПО</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>