
<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title">Часто задаваемые вопросы</div>
                <div class="subtitle">о ThermoBlock</div>
            </div>
            <div class="col-12">
                <div class="wrapper">
                    <div class="item">
                        <div class="q" data-id="#menu-1">Можно ли строить из ThermoBlock в сейсмичной зоне?</div>
                        <div class="a" id="menu-1" style="display: none;">
                            <div class="text">
                                Здания из Thermoblock имеют сейсмоустойчивость до 9 баллов по шкале Рихтера. Это
                                было подтверждено испытаниями. Thermoblock подходит для строительства в сейсмически
                                опасных зонах.
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="q" data-id="#menu-2">Отправляете ли вы свою продукцию в другие города? </div>
                        <div class="a" id="menu-2" style="display: none;">
                            <div class="text">
                                Да, мы можем организовать доставку комплекта Thermoblock в другой город. К нам
                                регулярно обращаются люди из разных городов России с таким вопросом, и мы отправляем
                                им наш строительный материал. Стоимость доставки зависит от удаленности региона
                                клиента.
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="q" data-id="#menu-3">Сколько стоит строить из Thermoblock в сравнении с другими
                            материалами?</div>
                        <div class="a" id="menu-3" style="display: none;">
                            <div class="text">
                                Стоимость строительства из Thermoblock не дороже, чем строительство из газобетона,
                                кирпича или даже дерева (все эти материалы требуют дополнительного утепления, в
                                последствии возникают трудности с отделкой). При этом сроки строительства
                                значительно сокращаются, косметическую отделку делать намного проще, а здания
                                получаются прочнее и теплее. К тому же за один строительный сезон можно построить,
                                провести отделку и заехать в Дом Вашей мечты.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>