
{% load static %}
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="global_title">ThermoBlock - экономичное и быстрое строительство</div>
                <div class="global_subtitle">Блоки для энергоэффективных зданий</div>
                <div class="global_line"></div>
                <img src="{% static 'img_about/sclad.jpg' %}" alt="">
                <div class="text">
                    <p><strong>"Thermoblock"</strong></p>
                    <p><span>- с 2006 года занимались производством шлакоблока, на оборудовании собственной
                            разработки.</span></p>
                    <p><span>- к 2015 году освоен выпуск энергоэффективного строительного материала - "Thermoblock".
                            Аналог популярных в скандинавских странах керамзитобетонных блоков с утеплителем.</span>
                    </p>
                    <p><span>- в 2016 году было открыто новое направление - проектирование, <br
                                class="d-none d-xl-block" />строительство зданий и сооружений из
                            "Thermoblock".</span></p>
                    <p><span>- доставка "Thermoblock" и сопутствующих материалов собственным транспортом.</span></p>
                    <p><span>- с 2018 года "Thermoblock" представлен в торговых строительных сетях <br
                                class="d-none d-xl-block" />г. Улан-Удэ.</span></p>
                    <p><span>В настоящее время компания ведет разработку и внедрение в производство различных блоков
                            - элементов системы каменного малоэтажного домостроения.</span></p>
                </div>
            </div>
        </div>
    </div>
</section>