{% load static %}
<section class="properties">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="global_title">Свойства ThermoBlock</div>
                <div class="global_subtitle">Основные характеристики материала, подтвержденные испытаниями.</div>
                <div class="global_line"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="name">Эффективная теплоизоляция</div>
                <img src="{% static '/blocks_img/temp.png' %}" alt="" class="img-fluid">
                <div class="description">
                    <p>Эффективная теплоизоляция и способность сохранять тепло являются самым главным преимуществом
                        ThermoBlock дома сохраняют тепло зимой и дарят приятную прохладу летом. Благодаря своей
                        массивной конструкции дом потребляет мало энергии и проживание в таком доме очень
                        экономично. Особенностью блока и технология строительства полностью исключают образование
                        мостов холода.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="name">Высокая прочность</div>
                <img src="{% static '/blocks_img/seism.png' %}" alt="" class="img-fluid">
                <div class="description">
                    <p>ThermoBlock высокопрочный материал. Сооружения из блоков выдерживают сейсмическую нагрузку
                        8-9 баллов. С течением времени такой дом только повышает свои качественные показатели.
                        Надежность, прочность и массивность этих блоков делает их идеальным выбором для
                        строительства дома на века.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="name">Быстрота и простота возведения</div>
                <img src="{% static '/blocks_img/sroki.png' %}"
                    alt="" class="img-fluid">
                <div class="description">
                    <p>Технология строительства продумана до мелочей. Легкая приспособляемость к этапам выполняемых
                        работ. Готовые рядовые и угловые элементы значительно упрощают работу строителей и сокращают
                        общие сроки строительства. В среднем возведение дома в 200м2 занимает 1-2 месяца (с учетом
                        устройства фундамента). Благодаря конструкции блоков, имеющих заливочные полости, монтаж
                        труб и кабелей в стенах, а также установка розеток и других элементов не представляет
                        сложности.</p>
                </div>
            </div>
        </div>
    </div>
</section>
