{% load static %}
    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="global_title">Наши дома из <strong class="stronglogo"><strong class="logotext"><span class="hotlogo">Thermo</span><span class="collogo">Block</span></strong><span class="tm-sign">&trade;</span></strong></div>
                    <div class="global_subtitle">Стройте с умом, живите с комфортом!</div>
                    <div class="global_line"></div>
                </div>
                <div class="col-12">
                    <div class="item">
                        <a data-fancybox="gallery"
                            data-caption="Одноэтажный дом с гаражем и котельней в пригороде Улан-Удэ. Жилая площадь 90 кв.м. Стены из термобока серии ТБ400. 4 комнаты, 3 спальни, раздельный санузел. Гараж на 2 машины, мастерская, котельня, тамбур."
                            href="{% static 'portfolio/01.jpg' %}"><img
                                src="{% static 'portfolio/01-thumb.jpg' %}"
                                class="img-fluid"></a>
                    </div>
                    <div class="item">
                        <a data-fancybox="gallery"
                            data-caption="Одноэтажный загородный дом. 3 спальни, гостинная совмещенная с кухней, совмещенный санузел. тамбур и бойлерная. Отопление полностью электрическое."
                            href="{% static 'portfolio/02.webp' %}"><img
                                src="{% static 'portfolio/02_thumb.jpg' %}"
                                class="img-fluid"></a>
                    </div>
                    <div class="item">
                        <a data-fancybox="gallery" 
                        data-caption="Двухэтажный дом в элитном районе города Улан-Удэ. 3 спальни, 2 санузла совмещенных. Кухня и гостинная раздельно. Кабинет. Отопление электрическое. Жилая площадь 160 кв. м." 
                        href="{% static 'portfolio/03.png' %}"><img
                                src="{% static 'portfolio/03_thumb.png' %}"
                                class="img-fluid"></a>
                    </div>
                    <div class="item">
                        <a data-fancybox="gallery" 
                        data-caption="Одноэтажный дачный домик в пригороде. Гостинная и кухня совмещены. Две спальни. тамбур и совмещенный санузел. Отопление электрическое." 
                        href="{% static 'portfolio/04.jpg' %}"><img
                                src="{% static 'portfolio/04_thumb.jpg' %}"
                                class="img-fluid"></a>
                    </div>
                    <div class="item">
                        <a data-fancybox="gallery" 
                        data-caption="Одноэтажный дом. Жилая площадь 100 кв. м. 2 спальни, совмещенный санузел, кухня с гостинной. Отопление комбинированное." 
                        href="{% static 'portfolio/05.webp' %}"><img
                                src="{% static 'portfolio/05_thumb.png' %}"
                                class="img-fluid"></a>
                    </div>
                    <div class="item">
                        <a data-fancybox="gallery" 
                        data-caption="Одноэтажный загородный дом. Жилая площадь 110 кв. м. Гостинная, кухня, 2 спальни, совмещенный санузел. Тамбур и бойлерная (котельня). Отопление комбинированное." 
                        href="{% static 'portfolio/06.webp' %}"><img
                                src="{% static 'portfolio/06_thumb.png' %}"
                                class="img-fluid"></a>
                    </div>
                    <div class="item">
                        <a data-fancybox="gallery" 
                        data-caption="Одноэтажный дом с гаражем и мастерской. Три спальни, кухня-гостинная, 2 санузла, гардеробная. Отопление электрическое." 
                        href="{% static 'portfolio/07.jpg' %}"><img
                                src="{% static 'portfolio/07_thumb.png' %}"
                                class="img-fluid"></a>
                    </div>
                    <div class="item">
                        <a data-fancybox="gallery" 
                        data-caption="Одноэтажный дом с гаражем и техпомещением. Гостинная, кухня, две спальни. сан узел раздельный - туалет и ванная. Отопление комбинированное." 
                            href="{% static 'portfolio/08.png' %}"><img
                                src="{% static 'portfolio/08_thumb.png' %}"
                                class="img-fluid"></a>
                    </div>
                    <div class="item">
                        <a data-fancybox="gallery" 
                        data-caption="Дом в городе Улан-Удэ. Проектировала и согласовывала проект семья инженеров. Стены из ThermoBlock ТБ400. Гараж на 2 машины ТБ300. Мастер спальня совмещенная с кабинетом. 2 спальни. Кухня-гостинная. Гардеробная, тамбур и совмещенный санузел. Отопление электрическое. Вентиляция приточно-вытяжная с рекуператором. Отзыв: Дом отапливается котлом всего на 8 кВт, тепловизионная съёмка показала тёплые стены (мостики холода только у окон). Тёплый пол предпочтительнее батарей." 
                        href="{% static 'portfolio/09.webp' %}"><img
                                src="{% static 'portfolio/09_thumb.png' %}"
                                class="img-fluid"></a>
                    </div>
                    <div class="item">
                        <a data-fancybox="gallery" 
                        data-caption="Уютный дом с гаражем. Три спальни, гостинная совмещена с кухней. Санузер раздельный. Отопление электрическое, теплый пол и имеется камин." 
                        href="{% static 'portfolio/10.webp' %}"><img
                                src="{% static 'portfolio/10_thumb.png' %}"
                                class="img-fluid"></a>
                    </div>

                </div>
            </div>
        </div>
    </section>