{% extends "base_old.html" %}

{% load static %}

{% block content %}
    {% include 'section/slider.html' %}
     
    {% include 'section/intro.html' %}

    {% include 'section/product.html' %}

    {% include 'section/clients.html' %}

    {% include 'section/paralax_form.html' %}

    {% include 'section/propeties.html' %}

    {% include 'section/faq.html' %}

    {% include 'section/portfolio.html' %}

    {% include 'section/paralax_form2.html' %}

    {% include 'section/achievements.html' %}

{% endblock content %}




