{% extends "base_old.html" %}

{% load static %}

{% block content %}
    {% include 'old/slider.html' %}
     
    {% include 'about/intro.html' %}

    {% include 'products/product.html' %}

    {% include 'section/clients.html' %}

    {% include 'section/paralax_form.html' %}

    {% include 'products/propeties.html' %}

    {% include 'faq/faq.html' %}

    {% include 'section/portfolio.html' %}

    {% include 'section/paralax_form2.html' %}

    {% include 'about/achievements.html' %}

{% endblock content %}




