{% extends 'home/base.html' %}
{% load static %}

{% block title %}ThermoBlock | проектирование и строительство{% endblock %}
{% block meta_description %}ThermoBlock - проектирование и строительство домов с монолитными теплыми стенами из блоков несъемной опалубки ThermoBlock{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
    

    {% include 'projects/portfolio.html' %}


    {% include 'projects/clients.html' %}




{% endblock %}

{% block extra_js %}

{% endblock %}