    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text"></div>
                    <a href="tel:+79644106320" class="text">+7 3012 206320</a>
                    <div href="mailto:info@thermoblock.ru?subject=вопро с сайта" class="text">info@thermoblock.ru</div>
                    <div class="text"></div>
                </div>
                <div class="col-lg-4">
                    <div >ThermoBlock</div>
                    <div >Зарегистрированная торговая марка</div>
                    <div >2015 - {% now "Y" %} Улан-Удэ</div>
                </div>
                <div class="col-lg-4">
                    <a href="{% url 'about:privacy' %}">Политика
                        конфиденциальности</a>
                </div>
                
            </div>
        </div>
    </footer>