{% load static %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Строительные блоки ThermoBlock в Улан-Удэ. Строительство домов, коттеджей и производственных строений из термоблока."/>
    <meta property="og:url" content="https://thermoblock/"/>
    <meta property="og:image" content="https://thermoblock.ru{% static 'logo.svg'%}"/>
    <meta property="og:description" content="Строительная технология ThermoBlock позволяет контролировать основные этапы строительства теплой и надежной монолитной стены. ThermoBlock зарегистрированная торговая марка. Время строить из Thermoblock!"/>
    <meta property="og:image:width" content="355">
    <meta property="og:image:height" content="253">
    <meta property="og:image:alt" content="логотип ThermoBlock">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:site_name" content="ООО 'Строй Тех'">
    <meta property="business:contact_data:street_address" content="Улан-Удэ, ул. Н. Петрова, д. 70, офис 309, 'БизнесЛайф'">
    <meta property="business:contact_data:locality" content="Улан-Удэ">
    <meta property="business:contact_data:postal_code" content="670000">
    <meta property="business:contact_data:country_name" content="Россия">
    <meta property="business:contact_data:email" content="info@thermoblock.ru">
    <meta property="business:contact_data:phone_number" content="+7 (3012) 20-63-20">
    <meta property="business:contact_data:website" content="https://thermoblock.ru">
    <meta property="og:latitude" content="51.843401"> <!-- координаты -->
    <meta property="og:longitude" content="107.647169">
    <meta property="og:street-address" content="ул. Н. Петрова, д. 70, офис 309,">
    <meta property="og:locality" content="Улан-Удэ">
    <meta property="og:region" content="Республика Бурятия">
    <meta property="og:postal-code" content="670000">
    <meta property="og:country-name" content="Россия">
    <meta property="business:hours:day" content="понедельник">
    <meta property="business:hours:start" content="09:00">
    <meta property="business:hours:end" content="18:00">
    <meta property="business:hours:day" content="вторник">
    <meta property="business:hours:start" content="09:00">
    <meta property="business:hours:end" content="18:00">
    <meta property="business:hours:day" content="среда">
    <meta property="business:hours:start" content="09:00">
    <meta property="business:hours:end" content="18:00">
    <meta property="business:hours:day" content="четверг">
    <meta property="business:hours:start" content="09:00">
    <meta property="business:hours:end" content="18:00">
    <meta property="business:hours:day" content="пятница">
    <meta property="business:hours:start" content="09:00">
    <meta property="business:hours:end" content="18:00">
    <meta property="business:hours:day" content="суббота">
    <meta property="business:hours:start" content="10:00">
    <meta property="business:hours:end" content="16:00">