    <!-- JSON-LD структурированные данные (ОБЯЗАТЕЛЬНО для Яндекса и Google) -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@graph": [
                {
                    "@type": "Brand",
                    "@id": "https://thermoblock.ru/",
                    "name": "ThermoBlock",
                    "alternateName": "Термоблок",
                    "slogan": "Максимально эффективное строительное решение!",
                    "logo": "https://thermoblock.ru/static/logo.svg",
                    "image": "https://thermoblock.ru/static/blocks_img/vid.png",
                    "url": "https://thermoblock.ru/static/achievement/ThermoBlock_TM.jpg",
                    "description": "ThermoBlock зарегестрированный товарный знак для надежных и энергоэффективные блоков несъемной опалубки.",
                    "brand": { "@id": "https://thermoblock.ru/about/contact/#org" }
                },
                {
                    "@type": "Organization",
                    "@id": "https://thermoblock.ru/about/contact/#org",
                    "name": "ООО 'Строй Тех'",
                    "address": {
                            "@type": "PostalAddress",
                            "addressCountry": "RU",
                            "addressLocality": "Улан-Удэ, Россия",
                            "postalCode": "670000",
                            "streetAddress": "ул. Грачевская, 49, офис 1"
                        },
                    "telephone": "+7 (3012) 20-63-20",
                    "email": "info@thermoblock.ru",
                    "image": "https://thermoblock.ru/static/blocks_img/vid.png",
                    "taxID": "0326560590", 
                    "vatID": "032601001" ,
                    "founder": { "@id": "https://thermoblock.ru/about/#aldar" }
                },
                {
                    "@type": "Person",
                    "@id": "https://thermoblock.ru/about/#aldar",
                    "name": "Алдар Жаргалов",
                    "jobTitle": "Генеральный директор"
                },
                {
                    "@type": "Organization",
                    "@id": "https://thermoblock.ru/about/contact/#manufacturing",
                    "name": "Завод ThermoBlock",
                    "parentOrganization": { 
                        "@id": "https://thermoblock.ru/about/contact/#org" },
                    "location": {
                        "@type": "Place",
                        "address": {
                            "@type": "PostalAddress",
                            "addressCountry": "RU",
                            "addressLocality": "Улан-Удэ, Россия",
                            "streetAddress": "ул. Николая Нищенко, д.19а"
                            },
                        "geo": {
                            "@type": "GeoCoordinates",
                            "latitude": "51.843401",
                            "longitude": "107.647169"
                        }
                    },
                    "makesOffer": {
                        "@type": "Offer",
                        "itemOffered": {
                            "@type": "Service",
                            "name": "Производство строительных материалов",
                            "description": "Производство широкого ассортимента бетонной несъемной опалубки ThermoBlock"
                            }
                    }
                },
                {
                    "@type": "Store",
                    "@id": "https://thermoblock.ru/about/contact/#office",
                    "name": "Офис продаж ThermoBlock",
                    "parentOrganization": { 
                        "@id": "https://thermoblock.ru/about/contact/#org" },
                    
                    "subjectOf": {
                        "@type": "Brand",
                        "name": "ThermoBlock",
                        "url": "https://thermoblock.ru" // ссылка на бренд
                    },                    
                    "priceRange": "₽₽",
                    "address": {
                            "@type": "PostalAddress",
                            "postalCode": "670000",
                            "addressCountry": "RU",
                            "addressLocality": "Улан-Удэ, Россия",
                            "streetAddress": "ул. Николая Петрова, д. 70, офис 309, 'БизнесЛайф'"
                            },
                    "openingHours": "Mo-Fr 09:00-18:00",
                    "telephone": "+7 (3012) 20-63-20",
                    "image": "https://thermoblock.ru/static/blocks_img/vid.png",
                    "description": "Продажа строительных термоблоков ThermoBlock - блоков несъемной терхслойной бетонной опалубки с эффективным утеплителем посередине.",
                    "location": {
                        "@type": "Place",
                        "address": {
                            "@type": "PostalAddress",
                            "addressCountry": "RU",
                            "addressLocality": "Улан-Удэ, Россия",
                            "streetAddress": "ул. Николая Петрова, д. 70, офис 309, 'БизнесЛайф'"
                            },
                        "geo": {
                            "@type": "GeoCoordinates",
                            "latitude": "51.843441",
                            "longitude": "107.647523"
                        }
                    },
                    "makesOffer": {
                        "@type": "Offer",
                        "itemOffered": [
                            {
                            "@type": "Product",
                            "name": "Термоблок рядовый ThermoBlock серии 300",
                            "description": "Рядовый трёхслойный блок несъемной опалубки для армированной монолитной стены толщиной 300 мм. Слои: бетон — утеплитель — бетон.",
                            "sku": "ТБ300",
                            "hasCertification": {
                                    "@type": "Certification",
                                    "name": "Сертификат соответствия ГОСТ Р 57333-2016",
                                    "url": "https://thermoblock.ru/static/achievement/sertificat_TB_PB.jpg",
                                    "issuedBy": {
                                        "@type": "Organization",
                                        "name": "Система добровольной сертификации ПРОМТЕХСТАНДАРТ"
                                        },
                                    "certificationIdentification": "РОСС RU.32001.04ИБФ1.ОСП32.87827"
                                },
                            "brand": {
                                "@type": "Brand",
                                "name": "ThermoBlock",
                                "url": "https://thermoblock.ru"
                            }
                            },
                            {
                            "@type": "Product",
                            "name": "Термоблок угловой ThermoBlock серии 300",
                            "description": "Рядовый трёхслойный блок несъемной опалубки для армированной монолитной стены толщиной 300 мм. Слои: бетон — утеплитель — бетон.",
                            "sku": "ТБУ300",
                            "hasCertification": {
                                    "@type": "Certification",
                                    "name": "Сертификат соответствия ГОСТ Р 57333-2016",
                                    "url": "https://thermoblock.ru/static/achievement/sertificat_TB_PB.jpg",
                                    "issuedBy": {
                                        "@type": "Organization",
                                        "name": "Система добровольной сертификации ПРОМТЕХСТАНДАРТ"
                                        },
                                    "certificationIdentification": "РОСС RU.32001.04ИБФ1.ОСП32.87827"
                                },
                            "brand": {
                                "@type": "Brand",
                                "name": "ThermoBlock",
                                "url": "https://thermoblock.ru"
                            }
                            },
                            {
                            "@type": "Product",
                            "name": "Термоблок рядовый ThermoBlock серии 400",
                            "description": "Рядовый трёхслойный блок несъемной опалубки для армированной монолитной стены толщиной 400 мм. Слои: бетон — утеплитель — бетон.",
                            "sku": "ТБ400",
                            "hasCertification": {
                                    "@type": "Certification",
                                    "name": "Сертификат соответствия ГОСТ Р 57333-2016",
                                    "url": "https://thermoblock.ru/static/achievement/sertificat_TB_PB.jpg",
                                    "issuedBy": {
                                        "@type": "Organization",
                                        "name": "Система добровольной сертификации ПРОМТЕХСТАНДАРТ"
                                        },
                                    "certificationIdentification": "РОСС RU.32001.04ИБФ1.ОСП32.87827"
                                },
                            "brand": {
                                "@type": "Brand",
                                "name": "ThermoBlock",
                                "url": "https://thermoblock.ru"
                            }
                            },
                            {
                            "@type": "Product",
                            "name": "Термоблок угловой ThermoBlock серии 400",
                            "description": "Угловой трёхслойный блок несъемной опалубки для армированной монолитной стены толщиной 400 мм. Слои: бетон — утеплитель — бетон.",
                            "sku": "ТБУ400",
                            "hasCertification": {
                                    "@type": "Certification",
                                    "name": "Сертификат соответствия ГОСТ Р 57333-2016",
                                    "url": "https://thermoblock.ru/static/achievement/sertificat_TB_PB.jpg",
                                    "issuedBy": {
                                        "@type": "Organization",
                                        "name": "Система добровольной сертификации ПРОМТЕХСТАНДАРТ"
                                        },
                                    "certificationIdentification": "РОСС RU.32001.04ИБФ1.ОСП32.87827"
                                },
                            "brand": {
                                "@type": "Brand",
                                "name": "ThermoBlock",
                                "url": "https://thermoblock.ru"
                            }
                            },
                            {
                            "@type": "Product",
                            "name": "ThermoBlock ПБ200",
                            "description": "Рядовый бетонный блок несъемной опалубки для монолитной армированной бетонной стены толщиной 200 мм. Для перегородок и подпорных стен.",
                            "sku": "ПБ200",
                            "hasCertification": {
                                    "@type": "Certification",
                                    "name": "Сертификат соответствия ГОСТ Р 57333-2016",
                                    "url": "https://thermoblock.ru/static/achievement/sertificat_TB_PB.jpg",
                                    "issuedBy": {
                                        "@type": "Organization",
                                        "name": "Система добровольной сертификации ПРОМТЕХСТАНДАРТ"
                                        },
                                    "certificationIdentification": "РОСС RU.32001.04ИБФ1.ОСП32.87827"
                                },
                            "brand": {
                                "@type": "Brand",
                                "name": "ThermoBlock",
                                "url": "https://thermoblock.ru"
                            }
                            },
                            {
                            "@type": "Product",
                            "name": "ThermoBlock ПБ100",
                            "description": "Рядовый бетонный блок несъемной опалубки для монолитной армированной бетонной стены толщиной 100 мм. Для перегородок.",
                            "sku": "ПБ100",
                            "hasCertification": {
                                    "@type": "Certification",
                                    "name": "Сертификат соответствия ГОСТ Р 57333-2016",
                                    "url": "https://thermoblock.ru/static/achievement/sertificat_TB_PB.jpg",
                                    "issuedBy": {
                                        "@type": "Organization",
                                        "name": "Система добровольной сертификации ПРОМТЕХСТАНДАРТ"
                                        },
                                    "certificationIdentification": "РОСС RU.32001.04ИБФ1.ОСП32.87827"
                                },
                            "brand": {
                                "@type": "Brand",
                                "name": "ThermoBlock",
                                "url": "https://thermoblock.ru"
                            }
                            }
                        ]
                    }
                },
                {
                    "@type": "GeneralContractor",
                    "@id": "https://thermoblock.ru/constructs/",
                    "name": "Генеральный застройщик ThermoBlock",
                    "parentOrganization": { 
                        "@id": "https://thermoblock.ru/about/contact/#org" },
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "ул. Николая Петрова, д. 70, офис 309, 'БизнесЛайф'",
                        "addressLocality": "Улан-Удэ",
                        "addressCountry": "RU",
                        "postalCode": "670000"
                    },
                    "priceRange": "₽₽",
                    "openingHours": "Mo-Fr 09:00-18:00",
                    "telephone": "+7 (3012) 20-63-20",
                    "image": "https://thermoblock.ru/media/constructs/constract3.jpg",
                    "description": "Профессиональное строительство домов и коттеджей под ключ по технологии ThermoBlock.",
                    "areaServed": [
                        "Улан-Удэ и Республика Бурятия",
                        "Иркутск и Иркутская область",
                        "Якутия и Республика Саха (Якутия)",
                        "Чита и Забайкальский край"
                        ],
                    "makesOffer": {
                        "@type": "Offer",
                        "itemOffered": [
                            {
                            "@type": "Service",
                            "name": "Строительство коттеджей под ключ",
                            "description": "Полный цикл строительства домов и зданий"
                            },
                            {
                            "@type": "Service",
                            "name": "Капитальный ремонт",
                            "description": "Ремонт малоэтажных домов и зданий"
                            },
                            {
                            "@type": "Service",
                            "name": "Проектирование",
                            "description": "Архитектурное проектирование и дизайн"
                            }
                        ]
                    },
                    "hasOfferCatalog": {
                        "@type": "OfferCatalog",
                        "name": "Услуги строительной компании",
                        "itemListElement": [
                            {
                                "@type": "OfferCatalog",
                                "name": "Строительство домов",
                                "itemListElement": [
                                    {"@type": "Offer", "name": "дома"},
                                    {"@type": "Offer", "name": "коттеджи"},
                                    {"@type": "Offer", "name": "гаражи"},
                                    {"@type": "Offer", "name": "промышленные здания"},
                                    {"@type": "Offer", "name": "отдельные офисы"},
                                    {"@type": "Offer", "name": "элементы ландшафтного дизайна"}
                                ]
                            },
                            {
                                "@type": "OfferCatalog",
                                "name": "Ремонтные работы",
                                "itemListElement": [
                                {"@type": "Offer", "name": "Капитальный ремонт"}
                                ]
                            }
                        ]
                    },
                    "keywords": "строительство, ремонт, отделка, дом под ключ, строительная компания, Улан-Удэ",
                    "knowsAbout": [
                        "Строительство",
                        "Архитектура",
                        "Дизайн интерьеров",
                        "Инженерные системы",
                        "Сметное дело",
                        "Проектирование"
                    ],
                    {% comment %} 
                    "citation": [
                        {
                            "@type": "CreativeWork",
                            "name": "Золотая медаль выставки Стройиндустрия, ЖКХ, энергосбережение 2018",
                            "publisher": {
                                "@type": "Organization",
                                "name": "Министерство строительтва и модернизации ЖКХ Руспублики Бурятия"
                                },
                            "datePublished": "2018-03-30",
                            "url": "https://thermoblock.ru/static/img_arch/arch2.jpg"
                        },
                        {
                            "@type": "CreativeWork",
                            "name": "Диплом межрегиональной выставки Байкал Экспо",
                            "publisher": {
                                "@type": "Organization",
                                "name": "Выставочная компания Байкал Экспо"
                                },
                            "datePublished": "2018-03-30",
                            "url": "https://thermoblock.ru/static/img_arch/arch3.jpg"
                        },
                        {
                            "@type": "CreativeWork",
                            "name": "Диплом за участие в выставке Стройка 2016",
                            "publisher": {
                                "@type": "Organization",
                                "name": "Улан-Удэнская ярмарка"
                                },
                            "datePublished": "2015-10-14",
                            "url": "https://thermoblock.ru/static/img_arch/arch5.jpg"
                        },
                        {
                            "@type": "CreativeWork",
                            "name": "Диплом за активное участие в выставке Техмашэкспо 2016",
                            "publisher": {
                                "@type": "Organization",
                                "name": "ТехМашЭкспо-2016"
                                },
                            "datePublished": "2016-03-30",
                            "url": "https://thermoblock.ru/static/img_arch/arch6.jpg"
                        },
                        {
                            "@type": "CreativeWork",
                            "name": "Диплом за активное участие в выставке Стройка 2017",
                            "publisher": {
                                "@type": "Organization",
                                "name": "Улан-Удэнская ярмарка"
                                },
                            "datePublished": "2017-03-30",
                            "url": "https://thermoblock.ru/static/img_arch/arch7.jpg"
                        },
                        {
                            "@type": "CreativeWork",
                            "name": "Диплом за активное участие в межрегиональной выставке СтройТехМаркет 2015",
                            "publisher": {
                                "@type": "Organization",
                                "name": "Стройтехмаркет"
                                },
                            "datePublished": "2015-10-9",
                            "url": "https://thermoblock.ru/static/img_arch/arch8.jpg"
                        },
                        {
                            "@type": "CreativeWork",
                            "name": "Плакетка ТехМашЭкспо-2017 за продвижение бетонных блоков на рынок Бурятии",
                            "publisher": {
                                "@type": "Organization",
                                "name": "Министерство строительтсва и модернизации ЖКХ Республики Бурятия"
                                },
                            "datePublished": "2017-03-31",
                            "url": "https://thermoblock.ru/static/img_arch/arch9.jpg"
                        }
                    ],
                     {% endcomment %}
                    "award": [
                        "Золотая медаль выставки Стройиндустрия, ЖКХ, энергосбережение 2018",
                        "Диплом межрегиональной выставки Байкал Экспо",
                        "Диплом за участие в выставке Стройка 2016",
                        "Диплом за активное участие в выставке Техмашэкспо 2016",
                        "Диплом за активное участие в выставке Стройка 2017",
                        "Диплом за активное участие в межрегиональной выставке СтройТехМаркет 2015",
                        "Плакетка ТехМашЭкспо-2017 за продвижение бетонных блоков на рынок Бурятии"
                    ]
                }
            ]
        }
    </script>