{% load static%}

    <section class="main_slider">
        <div class="item">
            <div class="image"
                style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url({% static 'old/assets/manager/main_slider/gal2.jpg' %});"></div>
            <div class="text_wrapper">
                <p class="text1 animated d-none d-sm-block" data-animation="fadeInTop" data-delay="0.9s">БЫСТРО, КАЧЕСТВЕННО, НАДЕЖНО!</p>
                <h2 class="text2 animated" data-animation="fadeInTop" data-delay="0.6s">Дом из <strong class="stronglogo"><span class="logotext" aria-label="ТермоБлок"><span class="hotlogo">Thermo</span><span class="collogo">Block</span></span><sup class="tm-sign" aria-hidden="true">&trade;</sup></strong>  за 2 месяца!
                </h2>
                <!-- <a href="katalog.html" class="btn animated" data-animation="fadeInTop" data-delay="0.3s">Выбрать дом</a> -->
                <a href="{% url 'feedback:question'%}" class="btn animated btn-diagonal-stripe" data-animation="fadeInTop" data-delay="0.3s"
                    >Расcчитать стоимость</a>
            </div>
        </div>
        <div class="item">
            <div class="image"
                style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url({% static 'old/assets/manager/main_slider/3.png' %});"></div>
            <div class="text_wrapper">
                <p class="text1 animated d-none d-sm-block" data-animation="fadeInTop" data-delay="0.9s">СТРОЙТЕ С УМОМ, ЖИВИТЕ С КОМФОРТОМ!</p>
                <h2 class="text2 animated" data-animation="fadeInTop" data-delay="0.6s">Дом из <strong class="stronglogo"><span class="logotext" aria-label="ТермоБлок"><span class="hotlogo">Thermo</span><span class="collogo">Block</span></span><sup class="tm-sign" aria-hidden="true">&trade;</sup></strong>  тёплый и сейсмоустойчивый</h2>
                <a href="{% url 'feedback:question'%}" class="btn animated btn-diagonal-stripe" data-animation="fadeInTop" data-delay="0.3s"
                    >Расcчитать стоимость</a>
            </div>
        </div>
        <div class="item">
            <div class="image"
                style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url({% static 'old/assets/manager/main_slider/2.png' %});"></div>
            <div class="text_wrapper">
                <p class="text1 animated d-none d-sm-block" data-animation="fadeInTop" data-delay="0.9s"><strong class="stronglogo"><span class="logotext" aria-label="ТермоБлок"><span class="hotlogo">Thermo</span><span class="collogo">Block</span></span><sup class="tm-sign" aria-hidden="true">&trade;</sup></strong>  ЭКОНОМИЯ НА СТРОИТЕЛЬСТВЕ</p>
                <h2 class="text2 animated" data-animation="fadeInTop" data-delay="0.6s">Собственное производство термоблоков!
                </h2>
                <a href="{% url 'feedback:question'%}" class="btn animated btn-diagonal-stripe" data-animation="fadeInTop" data-delay="0.3s"
                    >Раcсчитать стоимость</a>
            </div>
        </div>
    </section>