{% extends "old/base.html" %}
{% load static %}
{% load construct_tags %}
{% block title %}Главная страница | ThermoBlock{% endblock %}
{% block meta_description %}Строительные блоки ThermoBlock в Улан-Удэ. Проектирование и строительство теплых и надежных домов, коттеджей и производственные строений из термоблока.{% endblock %}
{% block meta_keywords %}строительство домов, построить дом, коттедж, dom, проекты домов, построить дом, строение, какой дом построить{% endblock %}
{% block extra_css %}
    <style>
        /* Наклонная движущаяся полоска */
        .btn-diagonal-stripe {
            position: relative;
            overflow: hidden;
        }
        
        .btn-diagonal-stripe::after {
            content: '';
            position: absolute;
            top: -50%;
            left: -60%;
            width: 40%;
            height: 200%;
            background: linear-gradient(
                to right,
                transparent,
                rgba(255, 255, 255, 0.3),
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.3),
                transparent
            );
            transform: rotate(30deg);
            animation: diagonal-shine 3s infinite linear;
        }
        
        @keyframes diagonal-shine {
            0% {
                left: -60%;
            }
            100% {
                left: 120%;
            }
        }
    </style>
{% endblock %}




    {% block  content %}
    <h1 class="visually-hidden">Производство и строительство домов и зданий из ThermoBlock</h1> 
    
    {% include "old/_slider.html" %}
    
    {% include "about/section_new.html" %}
    {% comment %}
    {% include "products/propeties_new.html" %}
    {% endcomment %}
    {% include "products/product_old.html" %}
    
    {% include 'projects/clients_new.html' %}

    {% include 'portfolio/old_section.html' %}

    {% include 'about/achievements_old.html' %}

    <section class="paralax_form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wrapper">
                        <div class="top">
                            <div class="title"><span>Заполните простую форму</span> и мы подготовим смету по
                                строительству энергоэффективного дома</div>
                            <div class="subtitle">Заполните форму, и наш специалист проконсультирует вас!</div>
                        </div>
                        <div class="form1">
                            
                                    <div class="form-group col-sm-6">
                                        <a  href="{% url 'feedback:question' %}" class="btn btn-danger">Получить расчет</a>
                                    </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faq">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">Часто задаваемые вопросы</div>
                    <div class="subtitle">о ThermoBlock</div>
                </div>
                <div class="col-12">
                    <div class="wrapper">
                        <div class="item">
                            <div class="q" data-id="#menu-1">Можно ли строить из ThermoBlock в сейсмичной зоне?</div>
                            <div class="a" id="menu-1" style="display: none;">
                                <div class="text">
                                    Здания из Thermoblock имеют сейсмоустойчивость до 9 баллов по шкале Рихтера. Это
                                    было подтверждено испытаниями. Thermoblock подходит для строительства в сейсмически
                                    опасных зонах.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="q" data-id="#menu-2">Отправляете ли вы свою продукцию в другие города? </div>
                            <div class="a" id="menu-2" style="display: none;">
                                <div class="text">
                                    Да, мы можем организовать доставку комплекта Thermoblock в другой город. К нам
                                    регулярно обращаются люди из разных городов России с таким вопросом, и мы отправляем
                                    им наш строительный материал. Стоимость доставки зависит от удаленности региона
                                    клиента.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="q" data-id="#menu-3">Сколько стоит строить из Thermoblock в сравнении с другими
                                материалами?</div>
                            <div class="a" id="menu-3" style="display: none;">
                                <div class="text">
                                    Стоимость строительства из Thermoblock не дороже, чем строительство из газобетона,
                                    кирпича или даже дерева (все эти материалы требуют дополнительного утепления, в
                                    последствии возникают трудности с отделкой). При этом сроки строительства
                                    значительно сокращаются, косметическую отделку делать намного проще, а здания
                                    получаются прочнее и теплее. К тому же за один строительный сезон можно построить,
                                    провести отделку и заехать в Дом Вашей мечты.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="contacts" id="ex5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">Контакты ThermoBlock</div>
                </div>
                <div class="col-12">
                    <div class="wrapper">
                        <div class="item">
                            <div class="icon"><i class="fa fa-map-marker"></i></div>
                            <div class="height_control">
                                <div class="top">Адреса офисов</div>
                                <div class="text">Улан-Удэ, Н.Петрова 70 офис 309, "Бизнес Лайф"</div>
                            </div>
                            <a href="{% url 'about:contact' %}" class="action">Смотреть на карте</a>
                        </div>
                        <div class="item">
                            <div class="icon"><i class="fa fa-phone-square"></i></div>
                            <div class="height_control">
                                <div class="top">Телефоны для связи</div>
                                <a href="tel:" class="phone"></a>
                                <a href="tel:+73012206320" class="phone" target="_blank">+7 3012 206320</a>
                                <a href="tel:+73012206320" class="phone" target="_blank">многоканальный</a>
                                
                            </div>
                            <a href="tel:+73012206320" class="action" target="_blank">Позвонить</a>
                        </div>
                        <div class="item">
                            <div class="icon"><i class="fa fa-envelope"></i></div>
                            <div class="height_control">
                                <div class="top">Наш Email</div>
                                <div class="text">Почта для заявок и предложений сотрудничества</div>
                                <div class="email">info@thermoblock.ru</div>
                                <div class="email"></div>
                            </div>
                            <a href="mailto:info@thermoblock.ru" class="action" target="_blank">Написать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

