{% extends "index.html" %}

{% load static %}

{% block title %}<title>Главная страница | ThermoBlock</title>{%endblock%}
    {% block meta_description %}<meta name="description" content="Теплые дома из термоблока">{%endblock%}
    {% block meta_keywords %}<meta name="keywords" content="термоблок, энергоэффективные дома, экономичное строительство">{%endblock%}
{% block content %}

<section class="instruction">
            <div class="top">
                <h1 class="title">Инструкция по производству работ из теплоизоляционных блоков ТБ300</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wrapper">
                            <a href="{% static 'img_instruction/tb300_0.png'%}" download>
                                <img src="{% static 'img_instruction/tb300_0.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_1.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_1.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_2.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_2.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_3.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_3.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_4.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_4.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_5.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_5.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_6.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_6.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_7.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_7.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_8.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_8.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_9.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_9.png' %}" alt="" class="img-fluid">
                            </a>
                            <a href="{% static 'img_instruction/tb300_10.png' %}" download>
                                <img src="{% static 'img_instruction/tb300_10.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}