{% extends "old/base.html" %}
{% load static %}
{% block title %}Каталог домов | ThermoBlock{%endblock%}
    {% block meta_description %}каталоги домов на выбор{%endblock%}
    {% block meta_keywords %}термоблок, энергоэффективные дома, экономичное строительство, проекты{%endblock%}

{% block content %}
        <section class="partners">
            <div class="top">
                <div class="title">Готовые проекты</div>
            </div>
            <div width="1000px" height="1200px" id="container"></div>
        </section>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<iframe src="https://svoydom.biz/thermoblock03" height="1400" width="100%" frameborder="0" scrolling="no"></iframe>
<script type="text/javascript" src="{% static 'old/iframe.js' %}"></script>

</section>
                

{% endblock %}
