
        
        <section class="partners">
            <div class="top">
                <div class="title">Партнерам</div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a id="tab-A" href="index.html#pane-A" class="nav-link active" data-toggle="tab" role="tab">Общая информация</a>
                            </li>
                            <li class="nav-item">
                                <a id="tab-B" href="index.html#pane-B" class="nav-link" data-toggle="tab" role="tab">На карте</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Реквизиты</a>
                            </li> -->
                            <li class="nav-item">
                                <a id="tab-D" href="index.html#pane-D" class="nav-link" data-toggle="tab" role="tab">Обратная связь</a>
                            </li>
                        </ul>
                        <div id="content" class="tab-content" role="tablist">
                            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                                <div class="card-header" role="tab" id="heading-A">
                                    <h5 class="mb-0">
                                        <!-- Note: `data-parent` removed from here -->
                                        <a data-toggle="collapse" href="index.html#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                                            Общая информация
                                        </a>
                                    </h5>
                                </div>
                    
                                <!-- Note: New place of `data-parent` -->
                                <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <div class="item_wrapper">
                                                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                                                    <div class="item">Улан-Удэ, Н.Петрова 70 офис 309, "Бизнес Лайф"</div>
                                                </div>
                                                <div class="item_wrapper">
                                                    <div class="icon"><i class="fa fa-phone-square"></i></div>
                                                    <div class="item"></div>
                                                    <div class="item">+7 3012 206320</div>
                                                </div>
                                                <div class="item_wrapper">
                                                    <div class="icon"><i class="fa fa-envelope"></i></div>
                                                    <div class="item">thermoblock@mail.ru</div>
                                                </div>
                                                <div class="item_wrapper">
                                                    <div class="icon"><i class="fa fa-envelope"></i></div>
                                                    <div class="item"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <p><strong style="line-height: 38px">Режим работы:</strong></p>
                                                <div>Пн-Чт: с 09:00 до 18:00 <br>Пт: с 09:00 до 17:00 <br>Сб-Вс, праздники - выходные</div>
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4e4167081ede7c4ac21e006c3bdf369e176b01c220838ed1d96a17ebc7d110be&amp;source=constructor" width="100%" height="240" frameborder="0"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                                <div class="card-header" role="tab" id="heading-B">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="index.html#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                                            На карте
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4e4167081ede7c4ac21e006c3bdf369e176b01c220838ed1d96a17ebc7d110be&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                                <div class="card-header" role="tab" id="heading-C">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C">
                                            Реквизиты
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                                    <div class="card-body">
                                        <h3>Реквизиты </h3>
                                        <p><strong>ОГРН</strong> </p>
                                        <p><strong>ИНН</strong> </p>
                                        <p><strong>Юридический / Фактический адрес:</strong> </p>
                                        <p><strong>Телефон / Факс:</strong> 8 (983) 536-10-52, 8 (301) 220-63-20</p>
                                        <p><strong>E-mail:</strong> thermoblock@mail.ru</p>
                                    </div>
                                </div>
                            </div> -->
                            
                            <div id="pane-D" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-D">
                                <div class="card-header" role="tab" id="heading-D">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="index.html#collapse-D" aria-expanded="false" aria-controls="collapse-D">
                                            Обратная связь
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-D" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                                    <div class="card-body">
                                      <div class="form1">
                                <form action="index.html" method="post" class="ajax_form form-horizontal" role="form">


        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/jquery.maskedinput.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script>
    $("#menu").on("click",".ex", function (event) {
        event.preventDefault();
        var href=$(this).attr('href');
        var target=$(href);
        var top=target.offset().top;
        $('body,html').animate({scrollTop: top}, 1000);
    });
    $('.q').on('click', function() {
        var objName = this.getAttribute('data-id');
        var obj = $(objName);
        $('.q').removeClass('on');
        if (obj.css("display") != "none") {
            obj.animate({
                height: 'hide',
            }, 300);
        }
        else {
            var visibleBlocks = $("div[id*='menu-']:visible");
            if (visibleBlocks.length < 1) {
                obj.animate({
                    height: 'show',
                },300);
                $(this).addClass('on');
            } else {
                $(visibleBlocks).animate({ 
                    height: 'hide',
                }, 300);
            }
        }
    });
    var icons = document.getElementsByClassName("main_icon");
    var icons_i = 0;
    var icon;
    var timerId = setInterval(function() {
        $(".main_icon").removeClass("active");
        icon = icons[icons_i];
        $(icon).addClass("active");
        icons_i++;
        if(icons_i == 3){
            icons_i = 0;
        }
    }, 2000);
$(document).ready(function() {
    $(function(){
    	if(location.hash.length){
    		var target=$('[name="'+location.hash.substr(1)+'"]');
    		if(!target.length)
    			target=$(location.hash);
    		if(target.length)
    			$('html,body').animate({scrollTop:target.offset().top},1000);
    	};
    });
    $('.main_slider').on('init', function(e, slick) {
        var $firstAnimatingElements = $('div.item:first-child').find('[data-animation]');
        doAnimations($firstAnimatingElements);    
    });
    $('.main_slider').on('beforeChange', function(e, slick, currentSlide, nextSlide) {
        var $animatingElements = $('div.item[data-slick-index="' + nextSlide + '"]').find('[data-animation]');
        doAnimations($animatingElements);    
    });
    $('.main_slider').slick({
        infinite: true,
        autoplay: true,
        autoplaySpeed: 4000,
        dots: true,
        arrows: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
    });
    $('.nav_slider').slick({
        arrows: true,
        variableWidth: true,
        infinite: false,
    });
    $('.articles_slider').slick({
        arrows: true,
        dots: false,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 2,
        responsive: [
            {
              breakpoint: 991,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2,
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }]
    });
    $('.achievements_slider').slick({
        arrows: true,
        dots: false,
        infinite: true,
        slidesToShow: 6,
        slidesToScroll: 3,
        responsive: [
            {
              breakpoint: 991,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 2,
              }
            },
            {
              breakpoint: 575,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }]
    });
    $('.articles_list_slider').slick({
        arrows: true,
        dots: false,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 2,
        responsive: [
            {
              breakpoint: 991,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2,
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }]
    });
    function doAnimations(elements) {
        var animationEndEvents = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        elements.each(function() {
            var $this = $(this);
            var $animationDelay = $this.data('delay');
            var $animationType = 'animated ' + $this.data('animation');
            $this.css({
                'animation-delay': $animationDelay,
                '-webkit-animation-delay': $animationDelay,
                'opacity': 1
            });
            $this.addClass($animationType).one(animationEndEvents, function() {
                $this.removeClass($animationType);
            });
        });
    };
    $(".floating").on('click', function() {
        var animationEndEvents = 'webkitAnimationEnd animationend';
        var elem = $(".floating_icons_wrapper");
        elem.removeClass("fadeInUp animated");
        if(elem.hasClass("d-none")) {
            $(".floating").addClass("active");
            elem.removeClass("d-none").addClass("fadeInUp animated");
        }
        else {
            elem.addClass("d-none");
            $(".floating").removeClass("active");
        }
    });
});



$(function(){
  //2. Получить элемент, к которому необходимо добавить маску
  $("#phone").mask("8(999) 999-9999");
  $('.ajax_form').append('<input type="text" name="org" value="" class="_org" style="visibility:hidden; height: 0; width: 0; padding: 0; border:none;"/>')
});


$(function(){
  //2. Получить элемент, к которому необходимо добавить маску
  $("#phone2").mask("8(999) 999-9999");
  $('.ajax_form').append('<input type="text" name="org" value="" class="_org" style="visibility:hidden; height: 0; width: 0; padding: 0; border:none;"/>')
});


$(function(){
  //2. Получить элемент, к которому необходимо добавить маску
  $("#phone3").mask("8(999) 999-9999");
  $('.ajax_form').append('<input type="text" name="org" value="" class="_org" style="visibility:hidden; height: 0; width: 0; padding: 0; border:none;"/>')
});


$(function(){
  //2. Получить элемент, к которому необходимо добавить маску
  $("#phone4").mask("8(999) 999-9999");
  $('.ajax_form').append('<input type="text" name="org" value="" class="_org" style="visibility:hidden; height: 0; width: 0; padding: 0; border:none;"/>')
});

$(function(){
  //2. Получить элемент, к которому необходимо добавить маску
  $("#phone5").mask("8(999) 999-9999");
  $('.ajax_form').append('<input type="text" name="org" value="" class="_org" style="visibility:hidden; height: 0; width: 0; padding: 0; border:none;"/>')
});


</script>

    <script type="text/javascript" src="https://thermoblock03.ru/assets/components/ajaxform/js/default.js"></script>
<script type="text/javascript">AjaxForm.initialize({"assetsUrl":"\/assets\/components\/ajaxform\/","actionUrl":"\/assets\/components\/ajaxform\/action.php","closeMessage":"\u0437\u0430\u043a\u0440\u044b\u0442\u044c \u0432\u0441\u0435","formSelector":"form.ajax_form","pageId":16});</script>
</body>
</html>